@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: 'Roboto', sans-serif;
  /* 預設字體 */
  font-size: 6.26%;
  line-height: 1.6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* 以下為h1-h6 */
/*字體寬度自己要加上喔*/
h1 {
  font-size: 64rem;
  line-height: 1.6;
}

h2 {
  font-size: 36rem;
  line-height: 1.6;
}

h3 {
  font-size: 32rem;
  line-height: 1.6;
}

h4 {
  font-size: 28rem;
  line-height: 1.6;
}

h5 {
  font-size: 24rem;
  line-height: 1.6;
}

h6 {
  font-size: 20rem;
  line-height: 1.6;
}

p {
  font-size: 18rem;
  line-height: 1.6;
}

/* 以下為title */
.title1 {
  font-size: 120rem;
  line-height: 1.6;
}

.title2 {
  font-size: 48rem;
  line-height: 1.6;
}

.title3 {
  font-size: 40rem;
  line-height: 1.6;
}

.title4 {
  font-size: 22rem;
  line-height: 1.6;
}

.title5 {
  font-size: 16rem;
  line-height: 1.6;
}

.title6 {
  font-size: 14rem;
  line-height: 1.6;
}

.btn_cta {
  width: 280px;
  height: 50px;
  border: 1px solid #EEEEEE;
  border-radius: 50px;
  cursor: pointer;
}

.btn_cta:hover {
  border-color: #00072E;
  background: -webkit-gradient(linear, left top, right top, from(#660059), to(#1A005C));
  background: linear-gradient(90deg, #660059 0%, #1A005C 100%);
}

.btn_cta .aLink {
  display: block;
  margin: 0 auto;
  text-decoration: none;
  font-weight: 600;
  line-height: 50px;
  color: #EEEEEE;
  font-size: 16px;
  text-align: center;
  position: relative;
}

.btn_cta .aLink img {
  width: 10px;
  position: absolute;
  top: 36%;
  right: 10%;
}

.btn_cta_submit {
  width: 280px;
  height: 50px;
  border: 1px solid #EEEEEE;
  border-radius: 50px;
  background: #00072E;
  cursor: pointer;
}

.btn_cta_submit:hover {
  border-color: #00072E;
  background: -webkit-gradient(linear, left top, right top, from(#660059), to(#1A005C));
  background: linear-gradient(90deg, #660059 0%, #1A005C 100%);
}

.btn_cta_submit .aLink {
  display: block;
  margin: 0 auto;
  text-decoration: none;
  font-weight: 600;
  line-height: 50px;
  color: #EEEEEE;
  font-size: 16px;
  text-align: center;
  position: relative;
}

.btn_cta_submit .aLink img {
  width: 10px;
  position: absolute;
  top: 36%;
  right: 10%;
}

.btn_general {
  width: 280px;
  height: 50px;
  border: 1px solid #EEEEEE;
  cursor: pointer;
}

.btn_general:hover {
  background: -webkit-gradient(linear, left top, right top, from(#660059), to(#1A005C));
  background: linear-gradient(90deg, #660059 0%, #1A005C 100%);
  -webkit-transition: ease-out 0.5s;
  transition: ease-out 0.5s;
  border: none;
}

.btn_general .btn_square {
  display: block;
  margin: 0 auto;
  text-decoration: none;
  font-weight: 600;
  line-height: 50px;
  color: #EEEEEE;
  font-size: 16px;
  text-align: center;
}

.btn_general .btn_pay {
  cursor: pointer;
  display: block;
  text-decoration: none;
  border: none;
  margin: 0 auto;
  text-decoration: none;
  font-weight: 600;
  line-height: 50px;
  color: #EEEEEE;
  font-size: 16px;
  text-align: center;
  background-color: transparent;
}

.btn_general_sumbmit {
  width: 280px;
  height: 50px;
  border: 1px solid #EEEEEE;
  background: #00072E;
  cursor: pointer;
}

.btn_general_sumbmit:hover {
  border-color: #00072E;
  background: -webkit-gradient(linear, left top, right top, from(#660059), to(#1A005C));
  background: linear-gradient(90deg, #660059 0%, #1A005C 100%);
}

.btn_general_sumbmit .btn_square {
  display: block;
  margin: 0 auto;
  text-decoration: none;
  font-weight: 600;
  line-height: 50px;
  color: #EEEEEE;
  font-size: 16px;
  text-align: center;
}

.btn_flow {
  position: relative;
  background-color: #000000;
  line-height: 60px;
  font-size: 20px;
  color: #FFF;
  width: 300px;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, right top, from(#03a9f4), color-stop(#f441a5), color-stop(#ffeb3b), to(#03a9f4));
  background-image: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  z-index: 1;
  cursor: pointer;
}

.btn_flow:hover {
  -webkit-animation: show 8s linear infinite;
          animation: show 8s linear infinite;
}

@-webkit-keyframes show {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}

@keyframes show {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}

.btn_flow::before {
  position: absolute;
  content: "";
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  background-image: -webkit-gradient(linear, left top, right top, from(#03a9f4), color-stop(#f441a5), color-stop(#ffeb3b), to(#03a9f4));
  background-image: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 40px;
  z-index: -1;
  -webkit-filter: blur(20px);
          filter: blur(20px);
  opacity: 0;
}

.btn_flow:hover::before {
  opacity: 1;
  -webkit-animation: show 8s linear infinite;
          animation: show 8s linear infinite;
}

.btn_status {
  width: 280px;
  height: 50px;
  border: 1px solid #EEEEEE;
  cursor: pointer;
}

.btn_status .btn_square {
  display: block;
  margin: 0 auto;
  text-decoration: none;
  font-weight: 600;
  line-height: 50px;
  color: #EEEEEE;
  font-size: 16px;
  text-align: center;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
  background-color: linear-gradient(90deg, #660059 0%, #1A005C 100%);
  -webkit-box-shadow: inset 0 0 0 0 #EEEEEE;
          box-shadow: inset 0 0 0 0 #EEEEEE;
  outline: none;
}

.btn_status .btn_square:hover {
  color: #00072E;
  -webkit-box-shadow: inset 50px 0 0 0 0 #EEEEEE;
          box-shadow: inset 50px 0 0 0 0 #EEEEEE;
}

.btn_status_submit {
  width: 280px;
  height: 50px;
  cursor: pointer;
}

.btn_status_submit .btn_square {
  display: block;
  margin: 0 auto;
  text-decoration: none;
  font-weight: 600;
  line-height: 50px;
  color: #EEEEEE;
  font-size: 16px;
  text-align: center;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
  background-color: linear-gradient(90deg, #660059 0%, #1A005C 100%);
  -webkit-box-shadow: inset 0 0 0 0 #EEEEEE;
          box-shadow: inset 0 0 0 0 #EEEEEE;
  outline: none;
}

.btn_status_submit .btn_square:hover {
  color: #00072E;
  -webkit-box-shadow: inset 280px 0 0 0 #EEEEEE;
          box-shadow: inset 280px 0 0 0 #EEEEEE;
}

.btn_main {
  width: 200px;
  height: 200px;
}

.btn_main .btn_circle_text {
  text-align: center;
  line-height: 200px;
  font-weight: 600;
  font-size: 24rem;
}

.btn_main .btn_circle_text .btn_circle {
  width: 100%;
  height: 100%;
  display: block;
  color: #EEEEEE;
  text-decoration: none;
  border-radius: 50%;
}

.btn_main .btn_circle_text .btn_circle:hover {
  background: -webkit-gradient(linear, left top, right top, from(#660059), to(#1A005C));
  background: linear-gradient(90deg, #660059 0%, #1A005C 100%);
}

.btn_main_w {
  width: 200px;
  height: 200px;
}

.btn_main_w .btn_circle_text {
  text-align: center;
  line-height: 200px;
  font-weight: 600;
  width: 200px;
  height: 200px;
  font-size: 24rem;
}

.btn_main_w .btn_circle_text .btn_circle {
  width: 100%;
  height: 100%;
  display: block;
  color: #00072E;
  background: #EEEEEE;
  text-decoration: none;
  border-radius: 50%;
}

.btn_main_w .btn_circle_text .btn_circle:hover {
  -webkit-box-shadow: 0px 0px 5px 20px rgba(255, 255, 255, 0.1);
          box-shadow: 0px 0px 5px 20px rgba(255, 255, 255, 0.1);
  color: #EEEEEE;
  background: -webkit-gradient(linear, left top, right top, from(#660059), to(#1A005C));
  background: linear-gradient(90deg, #660059 0%, #1A005C 100%);
}

body {
  color: #eeeeee;
}

.booking-process {
  width: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 120px;
}

.booking-process .booking-process_each {
  color: #987A4D;
}

.booking-process .booking-process_each:not(:last-child) .process-circle ::after {
  content: '';
  width: 75px;
  border-bottom: #987A4D dashed;
  position: absolute;
  top: 50%;
  right: -110%;
}

.booking-process .booking-process_each .main {
  background-color: #987A4D;
  color: #eeeeee;
}

.booking-process .booking-process_each .process-circle {
  position: relative;
  width: 80px;
  height: 80px;
  border: #987A4D 2px solid;
  border-radius: 50px;
  margin-bottom: 16px;
}

.booking-process .booking-process_each .process-circle h2 {
  font-size: 28px;
  line-height: 80px;
  text-align: center;
}

.booking-process .booking-process_each h6 {
  font-size: 18px;
  text-align: center;
  color: #eeeeee;
}

.wrapper {
  width: 1080px;
  height: 2000px;
  background-color: #191F42;
  border-radius: 10px;
  margin: 0 auto;
}

.wrapper .booking-status {
  padding-top: 80px;
  padding-bottom: 120px;
  width: 900px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0 auto;
}

.wrapper .booking-status .selector_title {
  position: relative;
}

.wrapper .booking-status .selector_title ::after {
  content: "";
  display: block;
  width: 150px;
  border-bottom: 3px solid #EEEEEE;
  position: absolute;
  top: 100%;
  margin-top: 14px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.wrapper .booking-status .selector_title h2 {
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  color: #eeeeee;
}

.wrapper .booking-status .selector {
  width: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0 auto;
  padding-top: 40px;
}

.wrapper .booking-status .selector p {
  font-size: 18px;
  color: #EEEEEE;
  text-align: center;
  margin-bottom: 16px;
}

.wrapper .booking-status .selector .btn_status {
  width: 280px;
  height: 50px;
}

.booking-cabin .selector_title {
  position: relative;
}

.booking-cabin .selector_title ::after {
  content: "";
  display: block;
  width: 150px;
  border-bottom: 3px solid #EEEEEE;
  position: absolute;
  top: 100%;
  margin-top: 14px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.booking-cabin .selector_title h2 {
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  color: #eeeeee;
}

.booking-cabin .cabin {
  width: 900px;
  margin: 0 auto;
  height: 388px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 120px;
}

.booking-cabin .cabin a {
  color: #0C0521;
  text-decoration: none;
}

.booking-cabin .cabin .X_btn, .booking-cabin .cabin .GX_btn {
  width: 388px;
  height: 388px;
  background-color: #eeeeee;
  border-radius: 50%;
}

.booking-cabin .cabin .X_btn .text, .booking-cabin .cabin .GX_btn .text {
  height: 388px;
  font-weight: 600;
  font-size: 24rem;
  text-decoration: none;
  padding-top: 35%;
}

.booking-cabin .GX_btn:hover {
  color: #eeeeee;
  width: 388px;
  height: 388px;
  background-image: url(../images/booking/GX.png);
  background-repeat: no-repeat;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 0px 30px rgba(255, 255, 255, 0.1);
          box-shadow: 0px 0px 0px 30px rgba(255, 255, 255, 0.1);
}

.booking-cabin .X_btn:hover {
  color: #eeeeee;
  width: 388px;
  height: 388px;
  background-image: url(../images/booking/X.png);
  background-repeat: no-repeat;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 0px 30px rgba(255, 255, 255, 0.1);
          box-shadow: 0px 0px 0px 30px rgba(255, 255, 255, 0.1);
}

.booking-calendar {
  width: 980px;
  margin: 0 auto;
  position: relative;
  margin-top: 120px;
}

.booking-calendar h2 {
  text-align: center;
}

.booking-calendar .selector_title {
  position: relative;
  margin-bottom: 40px;
}

.booking-calendar .selector_title ::after {
  content: "";
  display: block;
  width: 150px;
  border-bottom: 3px solid #EEEEEE;
  position: absolute;
  top: 100%;
  margin-top: 14px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.booking-calendar .selector_title h2 {
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  color: #eeeeee;
}

.container {
  width: 700px;
  height: 600px;
  margin: 0 auto;
  padding: 20px;
  /* background-color: #fff; */
}

.fc .fc-toolbar-title {
  padding-left: 100px;
}

.fc-daygrid-dot-event .fc-event-title {
  color: #00FF0A;
}

.fc-daygrid-event-dot {
  display: none;
}

.fc-direction-ltr .fc-daygrid-event .fc-event-time {
  display: none;
}

.fc-direction-ltr .fc-button-group > .fc-button:not(:last-child) {
  width: 20px;
}

.fc-direction-ltr .fc-button-group > .fc-button:not(:first-child) {
  width: 20px;
}

.fc .fc-daygrid-day-frame {
  height: 60px;
}

.calendar-days button {
  color: #fff;
  background-color: #987A4D;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.booking-price {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #262d52;
}

.booking-price h5 {
  line-height: 85px;
  font-weight: 700;
}

.step_button {
  width: 600px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 120px;
}

.step_button .btn_general {
  width: 280px;
  height: 50px;
}

.calendar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.calendar ul li {
  text-align: center;
  background-color: #fff;
  border: 1px solid black;
  color: black;
  font-size: 20px;
  width: 100px;
  height: 100px;
}

.calendar ul li p:first-child {
  font-size: 40px;
  background-color: #aeaeae;
  cursor: pointer;
}

.calendar ul li p:first-child:hover {
  background-color: #265228;
  color: white;
}

.calendar ul li p.on {
  background-color: #262d52;
  color: white;
}
/*# sourceMappingURL=booking_02.css.map */