@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: 'Roboto', sans-serif;
  /* 預設字體 */
  font-size: 6.26%;
  line-height: 1.6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* 以下為h1-h6 */
/*字體寬度自己要加上喔*/
h1 {
  font-size: 64rem;
  line-height: 1.6;
}

h2 {
  font-size: 36rem;
  line-height: 1.6;
}

h3 {
  font-size: 32rem;
  line-height: 1.6;
}

h4 {
  font-size: 28rem;
  line-height: 1.6;
}

h5 {
  font-size: 24rem;
  line-height: 1.6;
}

h6 {
  font-size: 20rem;
  line-height: 1.6;
}

p {
  font-size: 18rem;
  line-height: 1.6;
}

/* 以下為title */
.title1 {
  font-size: 120rem;
  line-height: 1.6;
}

.title2 {
  font-size: 48rem;
  line-height: 1.6;
}

.title3 {
  font-size: 40rem;
  line-height: 1.6;
}

.title4 {
  font-size: 22rem;
  line-height: 1.6;
}

.title5 {
  font-size: 16rem;
  line-height: 1.6;
}

.title6 {
  font-size: 14rem;
  line-height: 1.6;
}

.btn_cta {
  width: 280px;
  height: 50px;
  border: 1px solid #EEEEEE;
  border-radius: 50px;
  cursor: pointer;
}

.btn_cta:hover {
  border-color: #00072E;
  background: -webkit-gradient(linear, left top, right top, from(#660059), to(#1A005C));
  background: linear-gradient(90deg, #660059 0%, #1A005C 100%);
}

.btn_cta .aLink {
  display: block;
  margin: 0 auto;
  text-decoration: none;
  font-weight: 600;
  line-height: 50px;
  color: #EEEEEE;
  font-size: 16px;
  text-align: center;
  position: relative;
}

.btn_cta .aLink img {
  width: 10px;
  position: absolute;
  top: 36%;
  right: 10%;
}

.btn_cta_submit {
  width: 280px;
  height: 50px;
  border: 1px solid #EEEEEE;
  border-radius: 50px;
  background: #00072E;
  cursor: pointer;
}

.btn_cta_submit:hover {
  border-color: #00072E;
  background: -webkit-gradient(linear, left top, right top, from(#660059), to(#1A005C));
  background: linear-gradient(90deg, #660059 0%, #1A005C 100%);
}

.btn_cta_submit .aLink {
  display: block;
  margin: 0 auto;
  text-decoration: none;
  font-weight: 600;
  line-height: 50px;
  color: #EEEEEE;
  font-size: 16px;
  text-align: center;
  position: relative;
}

.btn_cta_submit .aLink img {
  width: 10px;
  position: absolute;
  top: 36%;
  right: 10%;
}

.btn_general {
  width: 280px;
  height: 50px;
  border: 1px solid #EEEEEE;
  cursor: pointer;
}

.btn_general:hover {
  background: -webkit-gradient(linear, left top, right top, from(#660059), to(#1A005C));
  background: linear-gradient(90deg, #660059 0%, #1A005C 100%);
  -webkit-transition: ease-out 0.5s;
  transition: ease-out 0.5s;
  border: none;
}

.btn_general .btn_square {
  display: block;
  margin: 0 auto;
  text-decoration: none;
  font-weight: 600;
  line-height: 50px;
  color: #EEEEEE;
  font-size: 16px;
  text-align: center;
}

.btn_general .btn_pay {
  cursor: pointer;
  display: block;
  text-decoration: none;
  border: none;
  margin: 0 auto;
  text-decoration: none;
  font-weight: 600;
  line-height: 50px;
  color: #EEEEEE;
  font-size: 16px;
  text-align: center;
  background-color: transparent;
}

.btn_general_sumbmit {
  width: 280px;
  height: 50px;
  border: 1px solid #EEEEEE;
  background: #00072E;
  cursor: pointer;
}

.btn_general_sumbmit:hover {
  border-color: #00072E;
  background: -webkit-gradient(linear, left top, right top, from(#660059), to(#1A005C));
  background: linear-gradient(90deg, #660059 0%, #1A005C 100%);
}

.btn_general_sumbmit .btn_square {
  display: block;
  margin: 0 auto;
  text-decoration: none;
  font-weight: 600;
  line-height: 50px;
  color: #EEEEEE;
  font-size: 16px;
  text-align: center;
}

.btn_flow {
  position: relative;
  background-color: #000000;
  line-height: 60px;
  font-size: 20px;
  color: #FFF;
  width: 300px;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, right top, from(#03a9f4), color-stop(#f441a5), color-stop(#ffeb3b), to(#03a9f4));
  background-image: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  z-index: 1;
  cursor: pointer;
}

.btn_flow:hover {
  -webkit-animation: show 8s linear infinite;
          animation: show 8s linear infinite;
}

@-webkit-keyframes show {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}

@keyframes show {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}

.btn_flow::before {
  position: absolute;
  content: "";
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  background-image: -webkit-gradient(linear, left top, right top, from(#03a9f4), color-stop(#f441a5), color-stop(#ffeb3b), to(#03a9f4));
  background-image: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 40px;
  z-index: -1;
  -webkit-filter: blur(20px);
          filter: blur(20px);
  opacity: 0;
}

.btn_flow:hover::before {
  opacity: 1;
  -webkit-animation: show 8s linear infinite;
          animation: show 8s linear infinite;
}

.btn_status {
  width: 280px;
  height: 50px;
  border: 1px solid #EEEEEE;
  cursor: pointer;
}

.btn_status .btn_square {
  display: block;
  margin: 0 auto;
  text-decoration: none;
  font-weight: 600;
  line-height: 50px;
  color: #EEEEEE;
  font-size: 16px;
  text-align: center;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
  background-color: linear-gradient(90deg, #660059 0%, #1A005C 100%);
  -webkit-box-shadow: inset 0 0 0 0 #EEEEEE;
          box-shadow: inset 0 0 0 0 #EEEEEE;
  outline: none;
}

.btn_status .btn_square:hover {
  color: #00072E;
  -webkit-box-shadow: inset 50px 0 0 0 0 #EEEEEE;
          box-shadow: inset 50px 0 0 0 0 #EEEEEE;
}

.btn_status_submit {
  width: 280px;
  height: 50px;
  cursor: pointer;
}

.btn_status_submit .btn_square {
  display: block;
  margin: 0 auto;
  text-decoration: none;
  font-weight: 600;
  line-height: 50px;
  color: #EEEEEE;
  font-size: 16px;
  text-align: center;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
  background-color: linear-gradient(90deg, #660059 0%, #1A005C 100%);
  -webkit-box-shadow: inset 0 0 0 0 #EEEEEE;
          box-shadow: inset 0 0 0 0 #EEEEEE;
  outline: none;
}

.btn_status_submit .btn_square:hover {
  color: #00072E;
  -webkit-box-shadow: inset 280px 0 0 0 #EEEEEE;
          box-shadow: inset 280px 0 0 0 #EEEEEE;
}

.btn_main {
  width: 200px;
  height: 200px;
}

.btn_main .btn_circle_text {
  text-align: center;
  line-height: 200px;
  font-weight: 600;
  font-size: 24rem;
}

.btn_main .btn_circle_text .btn_circle {
  width: 100%;
  height: 100%;
  display: block;
  color: #EEEEEE;
  text-decoration: none;
  border-radius: 50%;
}

.btn_main .btn_circle_text .btn_circle:hover {
  background: -webkit-gradient(linear, left top, right top, from(#660059), to(#1A005C));
  background: linear-gradient(90deg, #660059 0%, #1A005C 100%);
}

.btn_main_w {
  width: 200px;
  height: 200px;
}

.btn_main_w .btn_circle_text {
  text-align: center;
  line-height: 200px;
  font-weight: 600;
  width: 200px;
  height: 200px;
  font-size: 24rem;
}

.btn_main_w .btn_circle_text .btn_circle {
  width: 100%;
  height: 100%;
  display: block;
  color: #00072E;
  background: #EEEEEE;
  text-decoration: none;
  border-radius: 50%;
}

.btn_main_w .btn_circle_text .btn_circle:hover {
  -webkit-box-shadow: 0px 0px 5px 20px rgba(255, 255, 255, 0.1);
          box-shadow: 0px 0px 5px 20px rgba(255, 255, 255, 0.1);
  color: #EEEEEE;
  background: -webkit-gradient(linear, left top, right top, from(#660059), to(#1A005C));
  background: linear-gradient(90deg, #660059 0%, #1A005C 100%);
}

.form {
  position: relative;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.form label {
  display: block;
  margin-bottom: 15px;
}

.form label .form__label {
  color: #EEEEEE;
  font-size: 18px;
}

.form__input {
  display: block;
  width: 430px;
  height: 62px;
  background-color: #191F42;
  border: 1px solid #00072E;
  border-radius: 5px;
  font-size: 18px;
  padding-left: 15px;
  color: #EEEEEE;
}

.input_div {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.input_div label {
  display: block;
  margin-bottom: 15px;
}

.input_div label h5 {
  color: #EEEEEE;
  font-size: 18px;
}

.input_div input {
  display: block;
  width: 430px;
  height: 62px;
  background-color: #191F42;
  border: #191F42;
  border-radius: 5px;
  font-size: 18px;
  padding-left: 15px;
  color: #EEEEEE;
}

.input_div_password {
  position: relative;
}

.input_div_password label {
  display: block;
  margin-bottom: 15px;
}

.input_div_password label h5 {
  color: #EEEEEE;
  font-size: 18px;
}

.input_div_password input {
  width: 430px;
  height: 62px;
  background-color: #191F42;
  border: #191F42;
  border-radius: 5px;
  font-size: 18px;
  padding-left: 15px;
  color: #EEEEEE;
}

.input_div_password i {
  color: #EEEEEE;
  font-size: 18rem;
  position: absolute;
  top: 45%;
  right: 5%;
}

.input_div_password i:hover {
  cursor: pointer;
}

.input_div_full {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.input_div_full label {
  display: block;
  margin-bottom: 15px;
}

.input_div_full label h5 {
  color: #EEEEEE;
  font-size: 18px;
}

.input_div_full input {
  display: block;
  width: 910px;
  height: 62px;
  background-color: #191F42;
  border: #191F42;
  border-radius: 5px;
  font-size: 18px;
  padding-left: 15px;
  color: #EEEEEE;
}

.selector_title {
  position: relative;
}

.selector_title ::after {
  content: "";
  display: block;
  width: 150px;
  border-bottom: 3px solid #EEEEEE;
  position: absolute;
  top: 100%;
  margin-top: 14px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.selector_title h2 {
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  color: #eeeeee;
}

.member-forget02 {
  width: 1080px;
  margin: 0 auto;
}

.member-forget02 .member-forget02-title {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  color: #EEEEEE;
  text-align: center;
  position: relative;
}

.member-forget02 .member-forget02-title::before {
  content: "";
  display: block;
  width: 150px;
  border-bottom: 1px solid #EEEEEE;
  position: absolute;
  top: 100%;
  margin-top: 15px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.member-forget02 .input-area-member-forget02 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 550px;
  margin: 0 auto;
  margin-top: 58px;
}

.member-forget02 .password-wrong {
  color: #8B2323;
  margin-top: 20px;
  opacity: 0;
}

.member-forget02 .opacity1 {
  opacity: 1;
}

.member-forget02 .btn {
  margin: 0 auto;
  margin-top: 15px;
}
/*# sourceMappingURL=member_pwd02.css.map */