html{
    font-family: 'Roboto', sans-serif; /* 預設字體 */
    font-size: 6.26%;
    line-height: 1.6;
    }
    /* 以下為h1-h6 */
    
    /*字體寬度自己要加上喔*/
    
    h1{font-size: 64rem;}
    h2{font-size: 36rem;}
    h3{font-size: 32rem;}
    h4{font-size: 28rem;}
    h5{font-size: 24rem;}
    h6{font-size: 20rem;}
    p{font-size: 18rem;}
    
    /* 以下為title */
    
    .title1{font-size: 120rem;}
    .title2{font-size: 48rem;}
    .title3{font-size: 40rem;}
    .title4{font-size: 22rem;}
    .title5{font-size: 16rem;}
    .title6{font-size: 14rem;}