//複製 $字號~:冒號前面 就好
$linear:linear-gradient(90deg, #660059 0%, #1A005C 100%);   //漸層
$blue : #00072E; //深藍
$gold : #987A4D; //金色
$white : #EEEEEE; //白
$error_red : #8B2323; //錯誤紅字
$succ_green : #2B7C33; //正確的綠字
$rob_Serif:'Roboto Serif', serif;//另一個比較細的字
$spacing_80px :80px; //80px的寬度
$spacing_120px :120px;
$spacing_24px :24px;
$spacing_48px :48px;
$spacing_64px :64px;
$spacing_32px :32px;
$spacing_12px :12px;
$spacing_40px :40px;
$spacing_20px :20px;
