//複製 $字號~:冒號前面 就好
$linear:linear-gradient(90deg, #660059 0%, #1A005C 100%);   //漸層
$blue : #00072E; //深藍
$gold : #987A4D; //金色
$white : #EEEEEE; //白
$error_red : #8B2323; //錯誤紅字
$succ_green : #2B7C33; //正確的綠字
$rob_Serif:'Roboto Serif', serif;//另一個比較細的字