@import 'base/var';
@import 'base/reset';
@import 'base/fontSet';
@import 'mixin/mixin';
@import 'component/btn';

.bg1440_earth {
    background-image: url("../images/qaearth.jpg");
    background-repeat: no-repeat;
}
.qanda1080{
    width: 1080px;
    margin: 0 auto;
    .qa_up{
        display: flex;
        img{
            width: 30px;
            height: 30px;
        }
    }
}
