.header_header{
    width: 100%;
    height: 100px;
    
    // background-color: #00072E;
    // position: fixed;  
    // top: -5%; 
    // left: 50%;
    // transform: translateX(-50%);
    // z-index: 1000;
}

.header_nav{
    margin-top: 40px;
    margin-bottom: 120px;
    text-align: center; 
    align-items: center;

    }

    .header_ul{
        width: 1080px;
        display: flex;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
        // outline: 2px solid red;
        li{
            line-height: 40px;
        }

        .logo {
            display: flex;

            img{
                width: 180px;
                display: flex;
                align-items: center;
            }
        }
        
        .booking:hover{
            transform: scale(1.05);
        }
        
        .shoppiingicon{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgb(245, 40, 40);
            color: #eee;
            width: 20px;
            height: 20px;
            border-radius: 50%;

            position: absolute;
            top: -50%;
            right: -42%;
            z-index: 100;
        }
    }
}

.item_list{
    width: 580px;
    display: flex;
    justify-content: space-between;
    border-bottom: #987A4D 1px solid;
    line-height: 40px; 
    a{
    font-weight: 500;
    color: #eeeeee;
    text-decoration: none;
    font-size: 18px;
    height: 40px; 
    box-sizing: border-box;
    }
    a:hover{
        color: #987A4D;
    }
}
.booking{
    width: 117px;
    background: #987A4D;
    border-radius: 50px;
    a{
        font-size: 16px;
        color: #eeeeee;
        text-decoration: none;
    }
}
.shoppiingicon svg:hover{
    transform: scale(1.05);
}
#shopping_cart_top{
    display: flex;
    align-items: center;
}
    
