header{
    margin-top: 80px;
    margin-bottom: 120px;
    background: #000;
    width: 100%;
    margin: 0 auto;
    
    ul{
        display: flex;
        text-align: center;
    }

    ul li{
       
    }

    ul li a{
        color: #eeeeee;
        text-decoration: none;
    }

    ul li img{
width: 180px;
    }
}