@import 'base/var';
@import 'base/reset';
@import 'base/fontSet';
@import 'mixin/mixin';
@import 'component/btn';
.member-login02-wrapper{
    width:1080px;
    border:1px solid white;
    margin:0 auto;
    .member-info{
        width:100%;
        border:1px solid yellow;
        .decorate-line{

        }
        
    }
    .member-mile{

    }
   
    .mile-wrapper{

    }

}