@import 'base/var';
@import 'base/reset';
@import 'base/fontSet';
@import 'mixin/mixin';
@import 'component/btn';
.member-login02-wrapper{
    width:1080px;
    border:1px solid white;
    margin:0 auto;
 
    .member-info{
        width:100%;
        // border:1px solid yellow;
       
        .member-info-title{
            color:$white;
            line-height: 1.5;
            text-align: center;
            position: relative;
            &::before{
                content: "";
                display:block;
                width:150px;
                border-bottom: 1px solid $white;
                position:absolute;
                top:100%;
                margin-top: 10px;
                left:50%;
                transform: translate(-50%,0);
            }
        }

        img{
            display:block;
            width:563px;
            border-radius:26px;
            margin:0 auto;
            margin-top: 36px;
        }
        .member-type{
            color:$white;
            text-align: center;
            margin-top: 48px;
            margin-bottom: 20px;

        }
        p{
            color:$white;
            text-align: center;
            margin-bottom: 48px;
        }
       
    }
    .decorate-line{
        width: 1084px;
        height:2px;
        border-top:1px solid $gold;
        margin-top: 120px;
        margin-bottom: 120px;
    }
    .member-mile{

        .mile-wrapper{
            display: flex;
            justify-content: space-between;
            border:1px solid red;
            width:950px;
            margin:0 auto;
            margin-bottom: 48px;
            .mile-circle{
                border:1px solid green;
                h3{
                    color: $white;
                    text-align: center;
                    margin-bottom:24px;
                }
                .circle-outer{
                    width:352px;
                    height:352px;
                    background-color:rgba(238,238,238,0.6);
                    border-radius: 50%;
                    padding-top:20px;
                    .circle-inner{
                        width:312px;
                        height:312px;
                        background: $blue;
                        // margin-top:20px;
                        margin-left: 20px;
                        border-radius: 50%;
                        line-height: 312px;
                        .bignumber{
                            font-size: 80rem;
                            color:$white;
                            margin-left: 50px;

                        }
                        span{
                            font-size: 30rem;
                            color:$white;
                        }
                    }
                }

            }
            .mile-square{
                align-items: center;
                border:1px solid white;
                width:520px;
                height:240px;
                // border:1px solid white;
                border-radius: 5px;
                margin-top: 100px;
                padding-top: 40px;
                padding-bottom: 40px;
                background: $linear;
                h3{
                    color:$white;
                    text-align: center;
                }
                .number-area{
                    display:flex;
                    border-radius: 5px;
                    border:1px solid green;
                    margin-top: 80px;
                    h6{
                        color:black;
                        background:$white;
                        border-radius: 5px;
                        margin:3px;
                        width:31px;
                        height:40px;
                        font-size: 20px;
                        text-align: center;
                       line-height: 40px;

                    }
                    span{
                        color:white;
                        margin:5px;
                        font-size: 20px;
                        line-height: 40px;

                    }
                }
            }
        }

    }

    .memeber-shop{
        .memeber-shop-title{
            color:$white;
            line-height: 1.5;
            text-align: center;
            position: relative;
            &::before{
                content: "";
                display:block;
                width:150px;
                border-bottom: 1px solid $white;
                position:absolute;
                top:100%;
                margin-top: 10px;
                left:50%;
                transform: translate(-50%,0);
            }
        }
        h5{
            color:$white;
            text-align: center;
            margin-top: 48px;
        }
        img{
            width:350px;
            display: block;
            margin: 80px auto 80px auto;
        }
        
    }
    .member-message{
        .member-message-title{  
            color:$white;
            line-height: 1.5;
            text-align: center;
            position: relative;
            &::before{
                content: "";
                display:block;
                width:150px;
                border-bottom: 1px solid $white;
                position:absolute;
                top:100%;
                margin-top: 10px;
                left:50%;
                transform: translate(-50%,0);
            }

        }
        .message-wrapper{
            // border:1px solid white;
            margin-top: 100px;
            display:flex;
            justify-content: space-between;
            .message-center{
                width:493px;
                border:1px solid $gold;
                padding-top: 48px;
                padding-bottom: 48px;
                padding-left: 20px;
                .messages{
                    width:363px;
                    height:44px;
                    background:$white;
                    border-radius: 15px 15px 15px 0;
                    margin-bottom: 80px;
                    position: relative;
                    line-height: 2;
                    padding-right:20px;
                    h5{
                        text-align: right;
                    }
                    p{
                        color:$white;
                        position: absolute;
                        top:100%;
                        right:0%;
                    }
                }
            }
            .textarea-div{
                width:493px;
                border:1px solid $gold;
                padding-top: 48px;
                h5{
                    color:$white;
                    text-align: center;
                    margin-bottom: 24px;
                }
                form{
                    textarea{
                        display:block;
                        margin: 0 auto;
                        margin-bottom: 35px;
                        width:365px;
                        height:170px;
                        padding-top: 20px;
                        padding-left: 20px;
                        padding-right: 20px;
                        font-size: 20px;
                        font-family: 'Roboto';

                    }
                }
            }
        }
    }
   
    .btn_container{
        width:240px;
        margin: 0 auto;
        
    }

}