@import 'base/var';
@import 'base/reset';
@import 'base/fontSet';
@import 'mixin/mixin';
@import 'component/btn';


// 共用--------------------------------------------------
* {
    box-sizing: border-box;
}

// 進度條
.g-container {
    margin: 0 auto;
    width: 450px;
    // height: 25px;
    border-radius: 25px;
    background: $white;
    display: flex;
    
    

}
.g-progress {
    width: 0%;
    height: inherit;
    border-radius: 25px 0 0 25px;
    background: $linear;
    transition: 1.5s all;
    border: 6px solid $white;
   
}

.rocket{
    width: 60px;
    height: 36px;
    border: 1px solid white;
    // position: absolute;
}

// 出發地
.mileCity {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    h6 {
        color: $white;

    }
}



// 日期2022 2021年標籤
.date2022 {
    background: $white;
    width: 235px;
    height: 60px;
    border-radius: 10px;
    margin: 0 auto;
    
        }
    }
    .flight-info-2022{
        /*上半部分*/
        border:1px solid white;
        display:flex;
        justify-content: space-between;

        /*左邊卡片收合區*/
        .milecard-div{
            border:1px solid yellow;
            .milecard-title{
                 /*卡片收起來時露出的上半部分*/
                border:1px solid red;
                width:533px;
                height:64px;
                h5{
                    line-height: 64px;
                    text-align: center;
                    color:$white;
                }
            }
            .milecard-content{
                 /*卡片的內容(會收起來)*/
                border:1px solid green;
                width:533px;
                height:300px;

                .pic-div{
                      /*星球圖跟出發地目的地的區塊*/
                    display:flex;
                    .depart{
                        color:$white;
                    }
                    .depart-pic{
                        width:100px;
                    }
                    .dest{
                        color:$white;
                    }
                    .dest-pic{
                        width:100px;
                    }

                }
                .progress-bar-outer{
                     /*進度條的裝飾*/
                    width:454px;
                    height:30px;
                    border-radius: 20px;
                    background-color: $white;
                    padding-top: 7.5px;
                    .progress-bar-inner{
                        height:15px;
                        width:200px;
                      
                        background:$linear;
                    }
                }
                .miles{
                     /*下方里程的標示*/
                     text-align: center;
                     color:$white;


                }

                // 摺疊起來的下面有星球的右邊

                .mileCardRight {
                    display: flex;


                }

            }

            
        }

    }
}

.mileBar {
margin-top: $spacing_24px;
     
    


.progress{
    width: 450px;
    height: 20px;
    background:$linear;
    border: 3px solid $white;
    border-radius: 50px;
    margin: 0 auto;


}
    h5{
        margin-top: $spacing_12px;
        color: $white;
        text-align: center;
    }
}

// 共用--------------------------------------------------


.login04_1440 {
    background: black;


    .login04_1080 {
        // background: $white;
        width: 1080px;
        margin: 0 auto;
        border: 1px solid rgb(255, 255, 255);

        // 會員行程資料
        h3 {
            text-align: center;
            color: $white;

        }

        // 會員行程資料下面的線
        .login04Line {
            background-color: $white;
            height: 2px;
            width: 190px;
            margin: 0 auto;
            margin-top: $spacing_12px;
        }

        // 後面有svg線的背景
        .membMileSVG {
          
            padding:$spacing_80px  0;
            display: flex;
            gap: 75px;

            //   左右大區塊
            .membMile {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

        }
        /*右邊年分標籤*/
        .year-div{
            border:1px solid white;
        }
    }

}




