@import 'base/var';
@import 'base/reset';
@import 'base/fontSet';
@import 'mixin/mixin';
@import 'component/btn';
@import 'component/input';
.member-register{
    width:1080px;
    margin: 0 auto;
    
    border:1px solid white;
    // .member-register-title-up{
    //     text-align: center;
    //     color:$white;
    //     margin-bottom: 20px;
    // }
    .member-register-title{
        text-align:center;
        color:$white;
        position: relative;
        &::before{
            content: "";
            display:block;
            width:150px;
            border-bottom: 1px solid $white;
            position:absolute;
            top:100%;
            margin-top:10px;
            left:50%;
            transform: translate(-50%,0);
        }
    }
    .input-area-member-register{
        width:540px;
        border:1px solid yellow;
        margin: 0 auto;
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: $spacing_48px+24px;
        .account-check-message{
            font-size:14px;
            color:$error_red;
            margin-top: 20px;
            opacity:1;
        }
        .id-check-message{
            font-size:14px;
            color:$error_red;
            margin-top: 20px;
            opacity:1;
        }
        .password-wrong{
            font-size:14px;
            color:$error_red;
            margin-top: 20px;
            opacity:1;
        }
     
    }
    .btn_container{
        width:380px;
        margin:0 auto;
        margin-top: 48px;

    }

}
// .displaynone{
//     display:none;
// }
.displayblock{
    display:block;
}
#password_div{
    opacity: 1;
}
#checkPassword_div{
    opacity: 1;
}
#lastName_div{
    opacity: 1;
}
#name_div{
    opacity: 1;
}
#email_div{
    opacity: 1;
}
#cell_div{
    opacity: 1;
}
#businessNumber_div{
    opacity: 1;
}