@import 'base/var';
@import 'base/reset';
@import 'base/fontSet';
@import 'mixin/mixin';
@import 'component/btn';
@import 'base/var';
@import 'base/reset';
@import 'base/fontSet';
@import 'mixin/mixin';
@import 'component/btn';
.member-register3{
    width:1080px;
    // border:1px solid white;
    margin:0 auto;
    .member-register3-title{
        color:$white;
        text-align: center;
        margin-top: 120px;
        margin-bottom: 120px;
    }
    .message-area{
        background-color: rgba(51,51,51,0.7);
        // border:1px solid yellow;
        width:400px;
        height:150px;
        margin: 0 auto;
        padding-top: 50px;
        p{
            text-align: center;
            color: $white;
            line-height: 1.6;
        }
    }
    .btn{
        margin:0 auto;
        margin-top: 48px;
    }
}