@import 'base/var';
@import 'base/reset';
@import 'base/fontSet';
@import 'mixin/mixin';
@import 'component/btn';


.planet{
    position: relative;
    z-index: 120;
    margin-top: 40px;
    margin-bottom: 120px;
}
// planet intro section


.planet-intro{
    // outline: yellow 2px solid;
    width: 900px;
    color: $white;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 64px;

    .planet-name{
        width: 450px;
        text-align: center;

        .title1{
            font-size: 90px;
            line-height: 90px;
        }

        .title3{
            font-size: 30px;
            color: $gold;
            margin-top: 80px;
        }
    }

    .planet-desc{
        width: 450px;

        h4{
            font-size: 28px;
            font-weight: 700;
            color: $gold;
        }

        h6{
            font-size: 20px;
            margin-top: 6px;
        }
    }
}

// planet selection section

$global-duration:.4s;
$global-time-function:ease;

@function desktop-size($size) {
    // $c: '';

    // @for $i from 1 through $n {
    //     $c: $c + ' '+ $character;
    // }
    @return $size*100vw/1920;
}

@function mobile-size($size) {
    // $c: '';

    // @for $i from 1 through $n {
    //     $c: $c + ' '+ $character;
    // }
    @return $size*100vw/375;
}


main{
    overflow: hidden;
    .wrapper{
        width: 900px;
        margin: 0 auto;

        .circle{
            width: 900px;
            height: 1200px;
            position: relative;
            // margin-top:desktop-size(200);
            // margin-left:desktop-size(200);
            
          }

          img{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 900px;
            z-index: -2;
          }
          
          .ring-display {
              position: absolute;
              top: 0;
              bottom: 0;
              right: 0;
              left: 0;
              display: block;
              border-radius: 50%;
              // 外圈
              z-index: 0;
              transition: .5s cubic-bezier(.7, 0, .3, 1); // @include rwd('tablet', 'below') {
              pointer-events: none;
          
          
              &::before,&::after {
                  // 內圈
                //   content: '';
                  position: absolute;
                  top: 0;
                  bottom: 0;
                  right: 0;
                  left: 0;
                  overflow: hidden;
                  margin: auto;
                  width: 50%;
                  height: 50%;
                  background: transparent;
                  border: 1px solid rgb(255, 255, 255);
                  border-radius: 50%;
                  pointer-events: none;
                  z-index: -1;
              }
          
              &::after {
                  width: 85%;
                  height: 85%;
              }
              // transform:scale(0,0);
            @for $i from 0 through 9 {
              &.-current-#{$i} {
                .label {
                    @for $k from 1 through 10 {
                        &:nth-child(#{$k}) {
                            transform: rotate(#{-360deg*($k - 1)/20  + ($i*18deg)}) translate(0, -50%);
                            .label__link {
                                transform: rotate(#{360deg*($k - 1)/20  - ($i*18deg)});
                            }
                        }
                    }
                }    
                
              }
              
              
            }
          
          }
          
          .label {
              position: absolute;
              // 字標籤大方塊
              top: 50%;
              right: 0;
              width: 100%;
              height: 100%;
              font-size: 2em;
              text-align: center;
              color: #000000;
              transform-origin: 50% 0;
              pointer-events: none;
              line-height: 100px;
              -webkit-touch-callout: none;
              user-select: none; //
              z-index: 1;
              transition: transform $global-duration $global-time-function;
          
              &__index {
                  position: absolute;
                  top: desktop-size(-5);
                  left: desktop-size(-5);
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  width: desktop-size(50);
                  height: desktop-size(50);
                  font-size: desktop-size(28);
                  font-weight: normal;
                  color: #000000;
                  background-color: #ffffff;
                  border: solid 0.9px #ffffff;
                  border-radius: 50%;
                  box-shadow: 0 0 4.7px 0 rgba(0, 0, 0, 0.75);
                  line-height: 2;
                  letter-spacing: 0.2em;
                  transition: all $global-duration $global-duration $global-time-function;
              }
          
              &__link {
                  position: relative;
                  // 字連結
          
                  margin: 0 auto;
                  display:block;
                  width: desktop-size(175);
                  height: desktop-size(175);
                  z-index: 3;
                  pointer-events: auto;
                  transition: all $global-duration $global-time-function;
          
                  &-box {
                      position: absolute;
                      top: 50%;
                      left: 50%;
                      transform: translate(-50%, -50%);
                      width: desktop-size(175);
                      height: desktop-size(175);
                      border-radius: 50%;
                      box-shadow: 0 0 4.7px 0 rgba(0, 0, 0, 0.75);
                      transition: all $global-duration $global-duration $global-time-function;
          
                      &.-active {
                          width: desktop-size(650);
                          height: desktop-size(650);
                          opacity: 1;
                          transition: all $global-duration $global-time-function;
          
          
          
                      }
          
                      &-center {
                          position: absolute;
                          top: 0;
                          left: 0;
                          display: flex;
                          align-items: center;
                          justify-content: center;
                          width: 100%;
                          height: 100%;
                      }
                  }
          
          
                  &-inner {
                      display: block;
                    //   font-size: desktop-size(37);
                      font-size: 24px;
                      font-weight: bold;
                      font-weight: normal;
                      text-align: center;
                      text-indent: 0.2em;
                      line-height: 1.5;
                    //   letter-spacing: 0.2em;
                      color: #eeeeee;
          
          
                  }
          
                  &-desc {
                      position: relative;
                      padding-top: desktop-size(45);
                      padding-right: desktop-size(110);
                      padding-bottom: desktop-size(50);
                      padding-left: desktop-size(110);
                      font-size: desktop-size(24);
                      font-weight: normal;
                      text-align: center;
                    //   color: #000000;
                      line-height: 2;
                      letter-spacing: 0.1em;
          
                      &::before {
                          content: '';
                          position: absolute;
                          bottom: 0;
                          right: 0;
                          left: 0;
                          display: block;
                          margin: auto;
                          width: desktop-size(150);
                          height: 4px;
                          background: rgba(#c19943, 0.5);
                      }
                  }
              }
          }
    }

}


// planet service intro section
.planet-service{
    // border: 2px solid firebrick;
    height: 650px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(8, 5, 15, 0) 0.01%, #00072E 59.51%);
    // outline: yellow 2px solid;
}

.planet-activity-intro{
    width: 700px;
    color: $white;
    margin: 0 auto;
    position: relative;
    margin-top: -550px;
    

    .title2{
        font-size: 40px;
        line-height: 28px;
    }

    p{
        font-size: 20px;
        margin-top: 20px;
    }
}

// planet service slider

.planet-activity-slider{
    
    ul{
        width: 100%;
        height: 900px;
        margin: 0 auto;
        display: flex;
        margin-top: -400px;
        
    }
    
    li{
        height: 100vh;
        background-size: cover;
        background-position: center center;
        transition: .5s;
        color: $white;
        font-size: 40px;
        text-align: center;
        padding-top: 200px;
        
    }
    
    .item1{
        background-image: url(../images/planet/activity/001.jpg);
        flex-grow: 2;
       
    }
    
    .item2{
        background-image: url(../images/planet/activity/002.jpg);
        flex-grow: 2;
    }
    
    .item3{
        background-image: url(../images/planet/activity/003.jpg);
        flex-grow: 2;
    }

    .item4{
        background-image: url(../images/planet/activity/004.jpg);
        flex-grow: 2;
    }
    
    li:hover{
        flex-grow: 15;
    }
}