<<<<<<< HEAD
<<<<<<< HEAD
=======
// <<<<<<< HEAD
// =======
// <<<<<<< HEAD

// =======
// >>>>>>> 07c7e7456d46a24e7f0555a53d7c5d14f7a43d4c
// >>>>>>> dev
>>>>>>> 7f8a3e8907389a3d7249bc8a75f73307caa8c744
=======
//宣告一些變數
$btnFontSize:16px;
$btnWidth:250px;
$btnHeight:46px;
$btnFontWeight:600;

>>>>>>> e3746a82b348d61f53ec3f709a34ab28f9c76994
//這是圓角按鈕
//超連結跟div共用這個樣式
.btn_cta {
    width: $btnWidth;
    height: $btnHeight; 
    border: 1px solid $white;
    border-radius: 50px;
    cursor: pointer;
    &:hover {
        border-color: $blue;
        background: $linear;
    }
    .aLink{
        display: block;
        // border:1px solid yellow;
        margin: 0 auto;
        text-decoration: none;
        font-weight: $btnFontWeight;
        line-height: $btnHeight;
        color: $white;
        font-size: $btnFontSize;
        text-align: center;
        position: relative; 
        img{
            width:10px;
            position: absolute;
            top:36%;
            right:10%
        } 
    }
   
}

//這是圓角按鈕
//用button  sumbit表單用的
.btn_cta_submit {
    width: $btnWidth;
    height:$btnHeight; 
    border: 1px solid $white;
    border-radius: 50px;
    background: $blue;
    cursor: pointer;
    &:hover {
        border-color: $blue;
        background: $linear;
    }
    .aLink{
        display: block;
        // border:1px solid yellow;
        margin: 0 auto;
        text-decoration: none;
        font-weight: $btnFontWeight;
        line-height:$btnHeight;
        color: $white;
        font-size: $btnFontSize;
        text-align: center;
        position: relative; 
        img{
            width:10px;
            position: absolute;
            top:36%;
            right:10%
        } 
    }
}

//方形有漸層按鈕
//超連結跟div共用這一樣式

.btn_general {
    width:$btnWidth;
    height:$btnHeight; 
    border: 1px solid $white;
    cursor: pointer;
    &:hover {
        border-color: $blue;
        background: $linear;
    }
    .btn_square{
        display: block;
        // border:1px solid yellow;
        margin: 0 auto;
        text-decoration: none;
        font-weight: $btnFontWeight;
        line-height: $btnHeight;
        color: $white;
        font-size: $btnFontSize;
        text-align: center;
    }
}

<<<<<<< HEAD
=======

>>>>>>> dcfb5bd4d3dfc89903595a92dd0da516b9ecd6c5
////方形漸層按鈕 submit用

.btn_general_sumbmit {
    width: $btnWidth;
    height: $btnHeight; 
    border: 1px solid $white;
    background: $blue;
    cursor: pointer;
    &:hover {
        border-color: $blue;
        background: $linear;
    }
    .btn_square{
        display: block;
        // border:1px solid yellow;
        margin: 0 auto;
        text-decoration: none;
        font-weight: $btnFontWeight;
        line-height: $btnHeight;
        color: $white;
        font-size: $btnFontSize;
        text-align: center;
    }
}




////這是方形按鈕 無漸層

.btn_status {
    width: $btnWidth;
    height:$btnHeight; 
    border: 1px solid $white;
    cursor: pointer;
    .btn_square{
        display: block;
        // border:1px solid yellow;
        margin: 0 auto;
        text-decoration: none;
        font-weight: $btnFontWeight;
        line-height: $btnHeight;
        color: $white;
        font-size: $btnFontSize;
        text-align: center;
        &:hover {
            background: $white;
            color: $blue;
        }
    }
}

////這是方形按鈕 無漸層 sumbmit專用

.btn_status_submit {
    width: $btnWidth;
    height:$btnHeight; 
    border: 1px solid $white;
    background: $blue;
    padding: 0;
    cursor: pointer;
    .btn_square{
        width:100%;
        height:100%;
        font-weight: $btnFontWeight;
        line-height: $btnHeight;
        color: $white;
        font-size: $btnFontSize;
        text-align: center;
        &:hover {
            background: $white;
            color: $blue;
        }
    }
}





//這是導覽頁圓型按鈕 有漸層
.btn_main {
    width: 200px;
    height: 200px;

    .btn_circle_text {
        text-align: center;
        line-height: 200px;
        font-weight: 600;
        font-size: 24rem;

        .btn_circle {
            width: 100%;
            height: 100%;
            display: block;

            color: $white;

            text-decoration: none;
            border-radius: 50%;

            &:hover {
                // box-shadow: 0px 0px 5px 20px rgba(255, 255, 255, 0.1);
                background: $linear;
            }
        }
    }
}

//這是導覽頁圓型按鈕 有漸層 //前導頁專用
.btn_main_w {
    width: 200px;
    height: 200px;

    .btn_circle_text {
        text-align: center;
        line-height: 200px;
        font-weight: 600;
        width: 200px;
        height: 200px;
        font-size:24rem;
        
        .btn_circle {
            width: 100%;
            height: 100%;
            display: block;
         
            color: $blue;
            background:$white;
            text-decoration: none;
            border-radius: 50%;

            &:hover {
                box-shadow: 0px 0px 5px 20px rgba(255, 255, 255, 0.1);
                color: $white;
                background: $linear;
            }
        }
    }
}