// <<<<<<< HEAD
// =======
// <<<<<<< HEAD

// =======
// >>>>>>> 07c7e7456d46a24e7f0555a53d7c5d14f7a43d4c
// >>>>>>> dev
//這是圓角按鈕
.btn_cta {

    h5 {
        font-size: 14px;
        text-align: center;
        line-height: 70px;
        font-weight: 600;

        

        .btn_radius {
            width: 200px;
            height: 70px;
            color: $white;
            border: 1px solid $white;
            display: block;
            text-decoration: none;
            border-radius: 50px;

            &:hover {
                border-color: $blue;
                background: $linear;
            }
        }
    }
}

//這是方形按鈕 有漸層
.btn_general {


    h5 {
        font-size: 16px;
        text-align: center;
        line-height: 46px;
        font-weight: 600;

        .btn_square {
            width: 250px;
            height: 46px;
            color: $white;
            border: 1px solid $white;
            display: block;
            text-decoration: none;

            &:hover {
                border-color: $blue;
                background: $linear;

            }
        }
    }
}

////這是方形按鈕 無漸層

.btn_status {
    width: 200px;
    height: 70px;

    h5 {
        font-size: 14px;
        text-align: center;
        line-height: 70px;
        font-weight: 600;

        .btn_square {
            color: $white;
            border: 1px solid $white;
            display: block;
            text-decoration: none;

            &:hover {
                color: $blue;
                border: 0;
                background: $white;
            }
        }
    }
}

//這是導覽頁圓型按鈕 有漸層
.btn_main {
    width: 200px;
    height: 200px;

    .btn_circle_text {
        text-align: center;
        line-height: 200px;
        font-weight: 600;
        font-size: 24rem;

        .btn_circle {
            width: 100%;
            height: 100%;
            display: block;

            color: $white;

            text-decoration: none;
            border-radius: 50%;

            &:hover {
                // box-shadow: 0px 0px 5px 20px rgba(255, 255, 255, 0.1);
                background: $linear;
            }
        }
    }
}

//這是導覽頁圓型按鈕 有漸層 //前導頁專用
.btn_main_w {
    width: 200px;
    height: 200px;

    .btn_circle_text {
        text-align: center;
        line-height: 200px;
        font-weight: 600;
        width: 200px;
        height: 200px;
        font-size:24rem;
        
        .btn_circle {
            width: 100%;
            height: 100%;
            display: block;
         
            color: $blue;
            background:$white;
            text-decoration: none;
            border-radius: 50%;

            &:hover {
                box-shadow: 0px 0px 5px 20px rgba(255, 255, 255, 0.1);
                color: $white;
                background: $linear;
            }
        }
    }
}