//先用一層div包住 裡面有label 還有input
$h5LableFontSize:18px;
$inputWidth:430px;
$inputHeight:62px;
$inputFontSize:18px;
$labelSpaceing:15px;
.form{
    position: relative;
    box-sizing: content-box;
    label{
        display: block;
        // border:1px solid yellow;
        margin-bottom:$labelSpaceing;
        .form__label{
            color:$white;
            font-size: $h5LableFontSize;
        }
    }
    &__input{
        display:block;
        width:$inputWidth;
        height:$inputHeight;
        background-color:#191F42;
        border:1px solid #00072E;
        border-radius: 5px;
        font-size:$inputFontSize;
        padding-left: 15px;
        color:$white;
        &:focus{
            // background-color:#1A005C;
            // border:1px solid #5e5e5e;

        }

    }

}

//先用一層div包住 裡面有label 還有input
.input_div{
    // position: relative;
    box-sizing: content-box;
    label{
        display: block;
        // border:1px solid yellow;
        margin-bottom:$labelSpaceing;
        h5{
            color:$white;
            font-size: $h5LableFontSize;
        }
    }
    input{
        display:block;
        width:$inputWidth;
        height:$inputHeight;
        background-color:#191F42;
        border:#191F42;
        border-radius: 5px;
        font-size:$inputFontSize;
        padding-left: 15px;
        color:$white;
    }
}
//舊版input 尺寸改成新的
.input_div_password{
    // border:1px solid pink;
    position: relative;
    label{
        display:block;
        // border:1px solid yellow;
        margin-bottom:$labelSpaceing;
        h5{
            color:$white;
            font-size:$h5LableFontSize;
            // border:1px solid green;
        }
    }
    input{
            width:$inputWidth;
            height:$inputHeight;
            background-color:#191F42;
            border:#191F42;
            border-radius: 5px;
            font-size:$inputFontSize;
            padding-left: 15px;
            color:$white;
            &:focus{
                // background-color:#987A4D;
                // border:#987A4D;
                // outline:#987A4D;;
    
            }
    }
    i{
        color:$white;
        font-size:18rem;
        position:absolute;
        top:45%;
        right:5%;
        &:hover{
            cursor: pointer;
        }
    }
}

.input_div_full{
    box-sizing: content-box;
    label{
        display: block;
        // border:1px solid yellow;
        margin-bottom:$labelSpaceing;
       
        h5{
            color:$white;
            font-size: $h5LableFontSize;
        }
    }
    input{
        display:block;
        width:910px;
        height:$inputHeight;
        background-color:#191F42;
        border:#191F42;
        border-radius: 5px;
        font-size:$inputFontSize;
        padding-left: 15px;
        color:$white;
        &:focus{
            // background-color:#987A4D;
            // border:#987A4D;
            // outline:#987A4D;;
        }

    }

}


// 標題模組
.selector_title{
    position:relative;
 

    ::after{
        content: "";
        display: block;
        width: 150px;
        border-bottom: 3px solid #EEEEEE;
        position: absolute;
        top: 100%;
        margin-top: 14px;
        left: 50%;
        transform: translate(-50%, 0);
    }
    
    h2{
        text-align: center;
        font-size: 26px;
        font-weight: 700;
        color: #eeeeee;
    }
}