@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: "Roboto", sans-serif;
  /* 預設字體 */
  font-size: 6.26%;
  line-height: 1.6;
  box-sizing: border-box;
}

/* 以下為h1-h6 */
/*字體寬度自己要加上喔*/
h1 {
  font-size: 64rem;
  line-height: 1.6;
}

h2 {
  font-size: 36rem;
  line-height: 1.6;
}

h3 {
  font-size: 32rem;
  line-height: 1.6;
}

h4 {
  font-size: 28rem;
  line-height: 1.6;
}

h5 {
  font-size: 24rem;
  line-height: 1.6;
}

h6 {
  font-size: 20rem;
  line-height: 1.6;
}

p {
  font-size: 18rem;
  line-height: 1.6;
}

/* 以下為title */
.title1 {
  font-size: 120rem;
  line-height: 1.6;
}

.title2 {
  font-size: 48rem;
  line-height: 1.6;
}

.title3 {
  font-size: 40rem;
  line-height: 1.6;
}

.title4 {
  font-size: 22rem;
  line-height: 1.6;
}

.title5 {
  font-size: 16rem;
  line-height: 1.6;
}

.title6 {
  font-size: 14rem;
  line-height: 1.6;
}

.btn_cta h5 {
  font-size: 14px;
  text-align: center;
  line-height: 70px;
  font-weight: 600;
}
.btn_cta h5 .btn_radius {
  width: 200px;
  height: 70px;
  color: #EEEEEE;
  border: 1px solid #EEEEEE;
  display: block;
  text-decoration: none;
  border-radius: 50px;
}
.btn_cta h5 .btn_radius:hover {
  border-color: #00072E;
  background: linear-gradient(90deg, #660059 0%, #1A005C 100%);
}

.btn_general h5 {
  font-size: 18px;
  text-align: center;
  line-height: 46px;
  font-weight: 600;
}
.btn_general h5 .btn_square {
  width: 250px;
  height: 46px;
  color: #EEEEEE;
  border: 1px solid #EEEEEE;
  display: block;
  text-decoration: none;
}
.btn_general h5 .btn_square:hover {
  border-color: #00072E;
  background: linear-gradient(90deg, #660059 0%, #1A005C 100%);
}

.btn_status {
  width: 200px;
  height: 70px;
}
.btn_status h5 {
  font-size: 14px;
  text-align: center;
  line-height: 70px;
  font-weight: 600;
}
.btn_status h5 .btn_square {
  color: #EEEEEE;
  border: 1px solid #EEEEEE;
  display: block;
  text-decoration: none;
}
.btn_status h5 .btn_square:hover {
  color: #00072E;
  border: 0;
  background: #EEEEEE;
}

.btn_main {
  width: 200px;
  height: 200px;
}
.btn_main .btn_circle_text {
  text-align: center;
  line-height: 200px;
  font-weight: 600;
  font-size: 24rem;
}
.btn_main .btn_circle_text .btn_circle {
  width: 100%;
  height: 100%;
  display: block;
  color: #EEEEEE;
  text-decoration: none;
  border-radius: 50%;
}
.btn_main .btn_circle_text .btn_circle:hover {
  background: linear-gradient(90deg, #660059 0%, #1A005C 100%);
}

.btn_main_w {
  width: 200px;
  height: 200px;
}
.btn_main_w .btn_circle_text {
  text-align: center;
  line-height: 200px;
  font-weight: 600;
  width: 200px;
  height: 200px;
  font-size: 24rem;
}
.btn_main_w .btn_circle_text .btn_circle {
  width: 100%;
  height: 100%;
  display: block;
  color: #00072E;
  background: #EEEEEE;
  text-decoration: none;
  border-radius: 50%;
}
.btn_main_w .btn_circle_text .btn_circle:hover {
  box-shadow: 0px 0px 5px 20px rgba(255, 255, 255, 0.1);
  color: #EEEEEE;
  background: linear-gradient(90deg, #660059 0%, #1A005C 100%);
}

.booking-process {
  width: 900px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.booking-process .booking-process_each {
  color: #987A4D;
}
.booking-process .booking-process_each:not(:last-child) .process-circle ::after {
  content: "";
  width: 75px;
  border-bottom: #987A4D dashed;
  position: absolute;
  top: 50%;
  right: -110%;
}
.booking-process .booking-process_each .main {
  background-color: #987A4D;
  color: #eeeeee;
}
.booking-process .booking-process_each .process-circle {
  position: relative;
  width: 80px;
  height: 80px;
  border: #987A4D 2px solid;
  border-radius: 50px;
  margin-bottom: 16px;
}
.booking-process .booking-process_each .process-circle h2 {
  font-size: 28px;
  line-height: 80px;
  text-align: center;
}
.booking-process .booking-process_each h6 {
  font-size: 18px;
  text-align: center;
  color: #eeeeee;
}

.booking-status {
  padding-top: 80px;
  padding-bottom: 80px;
  width: 900px;
  justify-content: space-evenly;
  margin: 0 auto;
}
.booking-status .selector_title {
  position: relative;
}
.booking-status .selector_title ::after {
  content: "";
  height: 1px;
  width: 150px;
  border-bottom: #eeeeee solid;
  position: absolute;
  top: 120%;
  right: 41.5%;
}
.booking-status .selector_title h2 {
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  color: #eeeeee;
}
.booking-status .selector {
  width: 900px;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  padding-top: 40px;
}
.booking-status .btn_general {
  text-align: center;
}
.booking-status p {
  font-size: 16px;
  color: #EEEEEE;
  margin: 0 auto;
  margin-bottom: 16px;
}

.booking-selection {
  width: 900px;
  display: flex;
  color: #eeeeee;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  background-image: linear-gradient(90deg, #660059 0%, #1A005C 100%);
}
.booking-selection .selection-setting {
  width: 450px;
}
.booking-selection .title2 {
  font-family: Roboto Serif;
}
.booking-selection h5 {
  padding-bottom: 40px;
}
.booking-selection a {
  font-size: 28px;
  color: #eeeeee;
}

/*# sourceMappingURL=booking_01.css.map */
