.btn_cta {
  width: 250px;
  height: 46px;
  border: 1px solid #EEEEEE;
  border-radius: 50px;
  cursor: pointer;
}
.btn_cta:hover {
  border-color: #00072E;
  background: linear-gradient(90deg, #660059 0%, #1A005C 100%);
}
.btn_cta .aLink {
  display: block;
  margin: 0 auto;
  text-decoration: none;
  font-weight: 600;
  line-height: 46px;
  color: #EEEEEE;
  font-size: 16px;
  text-align: center;
  position: relative;
}
.btn_cta .aLink img {
  width: 10px;
  position: absolute;
  top: 36%;
  right: 10%;
}

.btn_cta_submit {
  width: 250px;
  height: 46px;
  border: 1px solid #EEEEEE;
  border-radius: 50px;
  background: #00072E;
  cursor: pointer;
}
.btn_cta_submit:hover {
  border-color: #00072E;
  background: linear-gradient(90deg, #660059 0%, #1A005C 100%);
}
.btn_cta_submit .aLink {
  display: block;
  margin: 0 auto;
  text-decoration: none;
  font-weight: 600;
  line-height: 46px;
  color: #EEEEEE;
  font-size: 16px;
  text-align: center;
  position: relative;
}
.btn_cta_submit .aLink img {
  width: 10px;
  position: absolute;
  top: 36%;
  right: 10%;
}

.btn_general {
  width: 250px;
  height: 46px;
  border: 1px solid #EEEEEE;
  cursor: pointer;
}
.btn_general:hover {
  border-color: #00072E;
  background: linear-gradient(90deg, #660059 0%, #1A005C 100%);
}
.btn_general .btn_square {
  display: block;
  margin: 0 auto;
  text-decoration: none;
  font-weight: 600;
  line-height: 46px;
  color: #EEEEEE;
  font-size: 16px;
  text-align: center;
}

.btn_general_sumbmit {
  width: 250px;
  height: 46px;
  border: 1px solid #EEEEEE;
  background: #00072E;
  cursor: pointer;
}
.btn_general_sumbmit:hover {
  border-color: #00072E;
  background: linear-gradient(90deg, #660059 0%, #1A005C 100%);
}
.btn_general_sumbmit .btn_square {
  display: block;
  margin: 0 auto;
  text-decoration: none;
  font-weight: 600;
  line-height: 46px;
  color: #EEEEEE;
  font-size: 16px;
  text-align: center;
}

.btn_flow {
  position: relative;
  background-color: #000000;
  line-height: 60px;
  font-size: 20px;
  color: #FFF;
  width: 300px;
  text-align: center;
  background-image: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  z-index: 1;
  cursor: pointer;
}
.btn_flow:hover {
  animation: show 8s linear infinite;
}
@keyframes show {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}

.btn_flow::before {
  position: absolute;
  content: "";
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  background-image: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 40px;
  z-index: -1;
  filter: blur(20px);
  opacity: 0;
}

.btn_flow:hover::before {
  opacity: 1;
  animation: show 8s linear infinite;
}

.btn_status {
  width: 250px;
  height: 46px;
  border: 1px solid #EEEEEE;
  cursor: pointer;
}
.btn_status .btn_square {
  display: block;
  margin: 0 auto;
  text-decoration: none;
  font-weight: 600;
  line-height: 46px;
  color: #EEEEEE;
  font-size: 16px;
  text-align: center;
}
.btn_status .btn_square:hover {
  background: #EEEEEE;
  color: #00072E;
}

.btn_status_submit {
  width: 250px;
  height: 46px;
  border: 1px solid #EEEEEE;
  background: #00072E;
  padding: 0;
  cursor: pointer;
}
.btn_status_submit .btn_square {
  width: 100%;
  height: 100%;
  font-weight: 600;
  line-height: 46px;
  color: #EEEEEE;
  font-size: 16px;
  text-align: center;
}
.btn_status_submit .btn_square:hover {
  background: #EEEEEE;
  color: #00072E;
}

.btn_main {
  width: 200px;
  height: 200px;
}
.btn_main .btn_circle_text {
  text-align: center;
  line-height: 200px;
  font-weight: 600;
  font-size: 24rem;
}
.btn_main .btn_circle_text .btn_circle {
  width: 100%;
  height: 100%;
  display: block;
  color: #EEEEEE;
  text-decoration: none;
  border-radius: 50%;
}
.btn_main .btn_circle_text .btn_circle:hover {
  background: linear-gradient(90deg, #660059 0%, #1A005C 100%);
}

.btn_main_w {
  width: 200px;
  height: 200px;
}
.btn_main_w .btn_circle_text {
  text-align: center;
  line-height: 200px;
  font-weight: 600;
  width: 200px;
  height: 200px;
  font-size: 24rem;
}
.btn_main_w .btn_circle_text .btn_circle {
  width: 100%;
  height: 100%;
  display: block;
  color: #00072E;
  background: #EEEEEE;
  text-decoration: none;
  border-radius: 50%;
}
.btn_main_w .btn_circle_text .btn_circle:hover {
  box-shadow: 0px 0px 5px 20px rgba(255, 255, 255, 0.1);
  color: #EEEEEE;
  background: linear-gradient(90deg, #660059 0%, #1A005C 100%);
}

.input_div {
  box-sizing: content-box;
}
.input_div label {
  display: block;
  margin-bottom: 15px;
}
.input_div label h5 {
  color: #EEEEEE;
  font-size: 14px;
}
.input_div input {
  display: block;
  width: 260px;
  height: 40px;
  background-color: #191F42;
  border: #191F42;
  border-radius: 5px;
  font-size: 18px;
  padding-left: 15px;
  color: #EEEEEE;
}
.input_div input:focus {
  background-color: #987A4D;
  border: #987A4D;
  outline: #987A4D;
}

.input_div_password {
  position: relative;
}
.input_div_password label {
  display: block;
  margin-bottom: 15px;
}
.input_div_password label h5 {
  color: #EEEEEE;
  font-size: 14px;
}
.input_div_password input {
  width: 260px;
  height: 40px;
  background-color: #191F42;
  border: #191F42;
  border-radius: 5px;
  font-size: 18px;
  padding-left: 15px;
  color: #EEEEEE;
}
.input_div_password input:focus {
  background-color: #987A4D;
  border: #987A4D;
  outline: #987A4D;
}
.input_div_password i {
  color: #EEEEEE;
  font-size: 10rem;
  position: absolute;
  top: 43%;
  right: 5%;
}
.input_div_password i:hover {
  cursor: pointer;
}

.input_div_full {
  box-sizing: content-box;
}
.input_div_full label {
  display: block;
  margin-bottom: 15px;
}
.input_div_full label h5 {
  color: #EEEEEE;
  font-size: 14px;
}
.input_div_full input {
  display: block;
  width: 550px;
  height: 40px;
  background-color: #191F42;
  border: #191F42;
  border-radius: 5px;
  font-size: 18px;
  padding-left: 15px;
  color: #EEEEEE;
}
.input_div_full input:focus {
  background-color: #987A4D;
  border: #987A4D;
  outline: #987A4D;
}

.selector_title {
  position: relative;
}
.selector_title ::after {
  content: "";
  display: block;
  width: 150px;
  border-bottom: 3px solid #EEEEEE;
  position: absolute;
  top: 100%;
  margin-top: 14px;
  left: 50%;
  transform: translate(-50%, 0);
}
.selector_title h2 {
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  color: #eeeeee;
}

.my_tra_in {
  width: 500px;
  height: 70px;
  font-size: 24rem;
  padding-left: 10px;
  background-color: #191F42;
  border: 1px solid #EEEEEE;
  border-radius: 5px;
  margin-bottom: 32px;
  color: #EEEEEE;
}

.contact {
  background: linear-gradient(#000000 30%, #00072E 100%);
}

.bg1440 .wrapper1080 {
  background-size: contain;
  background-image: url("../images/qa/qaearth.jpg");
  background-repeat: no-repeat;
  width: 1080px;
  margin: 0 auto;
}
.bg1440 .wrapper1080 .qa_tith1 {
  text-align: center;
  font-weight: 700;
  color: #EEEEEE;
}
.bg1440 .wrapper1080 .qa_tith2 {
  text-align: center;
  margin-top: 70px;
  font-weight: 500;
  color: #EEEEEE;
}
.bg1440 .wrapper1080 .qa {
  text-align: center;
  margin-top: 500px;
  font-weight: 500;
  color: #987A4D;
}
.bg1440 .wrapper1080 .qanda1080 {
  padding: 15px;
  margin-top: 48px;
  margin-bottom: 48px;
}
.bg1440 .wrapper1080 .qanda1080 .qa_up {
  cursor: pointer;
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
}
.bg1440 .wrapper1080 .qanda1080 .qa_up .ques {
  color: #EEEEEE;
}
.bg1440 .wrapper1080 .qanda1080 .qa_up img {
  transition: all 0.5s;
}
.bg1440 .wrapper1080 .qanda1080 .qaline {
  margin: 24px 0;
  background: #EEEEEE;
  height: 1px;
}
.bg1440 .wrapper1080 .qanda1080 .qa_down {
  display: none;
}
.bg1440 .wrapper1080 .qanda1080 .qa_down .answer {
  font-weight: 400;
  color: #EEEEEE;
}
.bg1440 .wrapper1080 .my_tra_1080 .my_tra_txt {
  text-align: center;
}
.bg1440 .wrapper1080 .my_tra_1080 .my_tra_txt .my_tra_tit1 {
  color: #987A4D;
  font-weight: 700;
}
.bg1440 .wrapper1080 .my_tra_1080 .my_tra_txt .my_traline {
  margin: 0 auto;
  margin-top: 24px;
  width: 288px;
  border: 1px solid #987A4D;
}
.bg1440 .wrapper1080 .my_tra_1080 .my_tra_txt .my_tra_tit2 {
  color: #EEEEEE;
  font-weight: 500;
  margin-top: 80px;
}
.bg1440 .wrapper1080 .my_tra_1080 .my_tra_txt .my_tra_tit3 {
  color: #EEEEEE;
  margin-top: 24px;
}
.bg1440 .wrapper1080 .my_tra_form .my_traNaTel {
  display: flex;
  justify-content: space-between;
}
.bg1440 .wrapper1080 .my_tra_form .my_traNaTel .my_traNaTelLeft {
  margin-top: 80px;
  text-align: left;
}
.bg1440 .wrapper1080 .my_tra_form .my_traNaTel .my_traNaTelLeft .my_tra_name {
  color: #EEEEEE;
}
.bg1440 .wrapper1080 .my_tra_form .my_traNaTel .my_traNaTelRight {
  margin-top: 80px;
  text-align: left;
}
.bg1440 .wrapper1080 .my_tra_form .my_traNaTel .my_traNaTelRight .my_tra_tel {
  color: #EEEEEE;
}
.bg1440 .wrapper1080 .my_tra_form .my_traEmPlSele {
  display: flex;
  justify-content: space-between;
}
.bg1440 .wrapper1080 .my_tra_form .my_traEmPlSele .my_traEmPlSeleLeft {
  text-align: left;
}
.bg1440 .wrapper1080 .my_tra_form .my_traEmPlSele .my_traEmPlSeleLeft .my_tra_email {
  color: #EEEEEE;
}
.bg1440 .wrapper1080 .my_tra_form .my_traEmPlSele .my_traEmPlSeleRight {
  text-align: left;
}
.bg1440 .wrapper1080 .my_tra_form .my_traEmPlSele .my_traEmPlSeleRight .my_tra_pla {
  color: #EEEEEE;
}
.bg1440 .wrapper1080 .my_tra_form .my_traEmPlSele .my_traEmPlSeleRight .my_pla_sel {
  width: 500px;
  height: 70px;
  padding-left: 10px;
  font-size: 24rem;
  margin-bottom: 32px;
  color: #EEEEEE;
  background-color: #191F42;
  border: 1px solid #EEEEEE;
  border-radius: 5px;
}
.bg1440 .wrapper1080 .my_tra_form .my_tra_down .my_tra_text {
  color: #EEEEEE;
}
.bg1440 .wrapper1080 .my_tra_form .my_tra_down .my_tra_mes {
  width: 100%;
  height: 300px;
  font-size: 24rem;
  padding-left: 10px;
  padding-top: 10px;
  background-color: #191F42;
  color: #EEEEEE;
  border-radius: 5px;
}
.bg1440 .wrapper1080 .my_tra_form .btn_cta {
  margin: 0 auto;
  margin-top: 80px;
}

/*# sourceMappingURL=contact.css.map */
