@charset "UTF-8";
.btn_cta {
  width: 280px;
  height: 50px;
  border: 1px solid #EEEEEE;
  border-radius: 50px;
  cursor: pointer;
}
.btn_cta:hover {
  border-color: #00072E;
  background: linear-gradient(90deg, #660059 0%, #1A005C 100%);
}
.btn_cta .aLink {
  display: block;
  margin: 0 auto;
  text-decoration: none;
  font-weight: 600;
  line-height: 50px;
  color: #EEEEEE;
  font-size: 16px;
  text-align: center;
  position: relative;
}
.btn_cta .aLink img {
  width: 10px;
  position: absolute;
  top: 36%;
  right: 10%;
}

.btn_cta_submit {
  width: 280px;
  height: 50px;
  border: 1px solid #EEEEEE;
  border-radius: 50px;
  background: #00072E;
  cursor: pointer;
}
.btn_cta_submit:hover {
  border-color: #00072E;
  background: linear-gradient(90deg, #660059 0%, #1A005C 100%);
}
.btn_cta_submit .aLink {
  display: block;
  margin: 0 auto;
  text-decoration: none;
  font-weight: 600;
  line-height: 50px;
  color: #EEEEEE;
  font-size: 16px;
  text-align: center;
  position: relative;
}
.btn_cta_submit .aLink img {
  width: 10px;
  position: absolute;
  top: 36%;
  right: 10%;
}

.btn_general {
  width: 280px;
  height: 50px;
  border: 1px solid #EEEEEE;
  cursor: pointer;
}
.btn_general:hover {
  background: linear-gradient(90deg, #660059 0%, #1A005C 100%);
  transition: ease-out 0.5s;
  border: none;
}
.btn_general .btn_square {
  display: block;
  margin: 0 auto;
  text-decoration: none;
  font-weight: 600;
  line-height: 50px;
  color: #EEEEEE;
  font-size: 16px;
  text-align: center;
}
.btn_general .btn_pay {
  cursor: pointer;
  display: block;
  text-decoration: none;
  border: none;
  margin: 0 auto;
  text-decoration: none;
  font-weight: 600;
  line-height: 50px;
  color: #EEEEEE;
  font-size: 16px;
  text-align: center;
  background-color: transparent;
}

.btn_general_sumbmit {
  width: 280px;
  height: 50px;
  border: 1px solid #EEEEEE;
  background: #00072E;
  cursor: pointer;
}
.btn_general_sumbmit:hover {
  border-color: #00072E;
  background: linear-gradient(90deg, #660059 0%, #1A005C 100%);
}
.btn_general_sumbmit .btn_square {
  display: block;
  margin: 0 auto;
  text-decoration: none;
  font-weight: 600;
  line-height: 50px;
  color: #EEEEEE;
  font-size: 16px;
  text-align: center;
}

.btn_flow {
  position: relative;
  background-color: #000000;
  line-height: 60px;
  font-size: 20px;
  color: #FFF;
  width: 300px;
  text-align: center;
  background-image: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  z-index: 1;
  cursor: pointer;
}
.btn_flow:hover {
  animation: show 8s linear infinite;
}
@keyframes show {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}

.btn_flow::before {
  position: absolute;
  content: "";
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  background-image: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 40px;
  z-index: -1;
  filter: blur(20px);
  opacity: 0;
}

.btn_flow:hover::before {
  opacity: 1;
  animation: show 8s linear infinite;
}

.btn_status {
  width: 280px;
  height: 50px;
  border: 1px solid #EEEEEE;
  cursor: pointer;
}
.btn_status .btn_square {
  display: block;
  margin: 0 auto;
  text-decoration: none;
  font-weight: 600;
  line-height: 50px;
  color: #EEEEEE;
  font-size: 16px;
  text-align: center;
  transition: ease 0.3s;
  background-color: linear-gradient(90deg, #660059 0%, #1A005C 100%);
  box-shadow: inset 0 0 0 0 #EEEEEE;
  outline: none;
}
.btn_status .btn_square:hover {
  color: #00072E;
  box-shadow: inset 50px 0 0 0 0 #EEEEEE;
}

.btn_status_submit {
  width: 280px;
  height: 50px;
  cursor: pointer;
}
.btn_status_submit .btn_square {
  display: block;
  margin: 0 auto;
  text-decoration: none;
  font-weight: 600;
  line-height: 50px;
  color: #EEEEEE;
  font-size: 16px;
  text-align: center;
  transition: ease-out 0.3s;
  background-color: linear-gradient(90deg, #660059 0%, #1A005C 100%);
  box-shadow: inset 0 0 0 0 #EEEEEE;
  outline: none;
}
.btn_status_submit .btn_square:hover {
  color: #00072E;
  box-shadow: inset 280px 0 0 0 #EEEEEE;
}

.btn_main {
  width: 200px;
  height: 200px;
}
.btn_main .btn_circle_text {
  text-align: center;
  line-height: 200px;
  font-weight: 600;
  font-size: 24rem;
}
.btn_main .btn_circle_text .btn_circle {
  width: 100%;
  height: 100%;
  display: block;
  color: #EEEEEE;
  text-decoration: none;
  border-radius: 50%;
}
.btn_main .btn_circle_text .btn_circle:hover {
  background: linear-gradient(90deg, #660059 0%, #1A005C 100%);
}

.btn_main_w {
  width: 200px;
  height: 200px;
}
.btn_main_w .btn_circle_text {
  text-align: center;
  line-height: 200px;
  font-weight: 600;
  width: 200px;
  height: 200px;
  font-size: 24rem;
}
.btn_main_w .btn_circle_text .btn_circle {
  width: 100%;
  height: 100%;
  display: block;
  color: #00072E;
  background: #EEEEEE;
  text-decoration: none;
  border-radius: 50%;
}
.btn_main_w .btn_circle_text .btn_circle:hover {
  box-shadow: 0px 0px 5px 20px rgba(255, 255, 255, 0.1);
  color: #EEEEEE;
  background: linear-gradient(90deg, #660059 0%, #1A005C 100%);
}

.index {
  background: transparent;
}

.line_h12 {
  line-height: 1.2;
}

.index_mt120 {
  margin-top: 120px;
}

.index_mt80 {
  margin-top: 80px;
}

.index_mt64 {
  margin-top: 64px;
}

.index_mt24 {
  margin-top: 24px;
}

.index_mt40 {
  margin-top: 40px;
}

.index_white {
  color: #EEEEEE;
}

.index_gold {
  color: #987A4D;
}

.index_tac {
  text-align: center;
}

.index_taL {
  text-align: left;
}

.index_fw400 {
  font-weight: 400;
}

.index_fw500 {
  font-weight: 500;
}

.index_fw700 {
  font-weight: 700;
}

.index_font {
  font-family: "Roboto Serif", serif;
}

.index1440 {
  position: relative;
  z-index: 9999;
}
.index1440 .index1080 {
  width: 1080px;
  margin: 0 auto;
  /* 星球尺寸 */
}
.index1440 .index1080 .index-showcase .index-showcase_line {
  height: 1px;
  width: 150px;
  margin: 0 auto;
  background-color: #EEEEEE;
}
.index1440 .index1080 .index-showcase .btn_cta {
  margin: 0 auto;
  margin-top: 64px;
}
.index1440 .index1080 .invisible {
  visibility: hidden;
}
.index1440 .index1080 .relative {
  position: relative;
}
.index1440 .index1080 .absolute {
  position: absolute;
}
.index1440 .index1080 .font-bold {
  font-weight: 700;
}
.index1440 .index1080 .flex {
  display: flex;
}
.index1440 .index1080 .justify-between {
  justify-content: space-between;
}
.index1440 .index1080 .flex-center-center {
  display: flex;
  justify-content: center;
  align-content: center;
}
.index1440 .index1080 .inset-0 {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.index1440 .index1080 .z-0 {
  z-index: 0;
}
.index1440 .index1080 .z-10 {
  z-index: 10;
}
.index1440 .index1080 .-z-10 {
  z-index: -10;
}
.index1440 .index1080 .venus-container * {
  box-sizing: border-box;
}
.index1440 .index1080 .venus-container {
  position: relative;
  height: 100vh;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /* transform-style: preserve-3d;
  transform: perspective(500px) rotateX(45deg); */
  user-select: none;
}
.index1440 .index1080 .venus-base {
  position: absolute;
  transition-property: transform;
  transition-duration: 900ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 598px;
  height: 600px;
}
.index1440 .index1080 .venus-base img {
  display: block;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
.index1440 .index1080 .index_btn {
  cursor: pointer;
  width: 64px;
  height: 64px;
}
.index1440 .index1080 .index-features .featuresFlex {
  display: flex;
  justify-content: space-around;
}
.index1440 .index1080 .index-features .featuresFlex .featIcon {
  width: 150px;
}
.index1440 .index1080 .index-features .featuresFlex .featIcon img {
  margin: 0 auto;
  display: block;
  width: 76px;
  height: 76px;
}
.index1440 .index1080 .index-video {
  position: relative;
}
.index1440 .index1080 .index-video .index-video_text {
  position: absolute;
  top: 400px;
  left: 20px;
}
.index1440 .index1080 .index-quiz .btn_cta {
  margin: 0 auto;
  margin-top: 64px;
}
.index1440 .index1080 .index-quiz .quizPlanetFlex {
  display: flex;
  justify-content: space-between;
}
.index1440 .index1080 .index-news .index-newsUp {
  display: flex;
  justify-content: space-around;
  padding-top: 24px;
  padding-bottom: 24px;
  border-top: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}
.index1440 .index1080 .index-news .index-newsUp .index-newsLeft h5 {
  line-height: 1;
  font-weight: 500;
}
.index1440 .index1080 .index-news .index-newsUp .index-newsLeft h2 {
  line-height: 1;
}
.index1440 .index1080 .index-news .index-newsUp .index-newsLeft .index_news_font {
  font-size: 52rem;
}
.index1440 .index1080 .index-news .index-newsUp .index-newsRight h5 {
  font-weight: 500;
  width: 768px;
}
.index1440 .index1080 .index-news .index-newsDown {
  display: flex;
  justify-content: space-around;
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #EEEEEE;
}
.index1440 .index1080 .index-news .index-newsDown .index-newsLeft h5 {
  line-height: 1;
  font-weight: 500;
}
.index1440 .index1080 .index-news .index-newsDown .index-newsLeft h2 {
  line-height: 1;
}
.index1440 .index1080 .index-news .index-newsDown .index-newsLeft .index_news_font {
  font-size: 52rem;
}
.index1440 .index1080 .index-news .index-newsDown .index-newsRight h5 {
  font-weight: 500;
  width: 768px;
}
.index1440 .index1080 .index-tour {
  overflow: hidden;
  margin-bottom: 120px;
}
.index1440 .index1080 .index-tour .index-tourUp {
  display: flex;
  gap: 10%;
}
.index1440 .index1080 .index-tour .index-tourDown .swiper {
  width: 1200px;
  height: 430px;
}
.index1440 .index1080 .index-tour .index-tourDown .swiper .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
}
.index1440 .index1080 .index-tour .index-tourDown .swiper .swiper-wrapper .swiper-slide .index-tour_text {
  margin-top: -100px;
}

.planets {
  animation: fly 2s linear infinite;
}

.saturn {
  animation: fly2 2s linear infinite;
}

@keyframes fly {
  0% {
    transform: translateY(10px);
    box-shadow: 2px 2px 3px 1px rgba(255, 255, 255, 0.523);
    border-radius: 50%;
  }
  50% {
    transform: translateY(6px);
    box-shadow: 2px 2px 10px 1px rgba(255, 255, 255, 0.732);
    border-radius: 50%;
  }
  100% {
    transform: translateY(10px);
    box-shadow: 2px 2px 10px 1px rgba(255, 255, 255, 0.732);
    border-radius: 50%;
  }
}
@keyframes fly2 {
  0% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(6px);
  }
  100% {
    transform: translateY(10px);
  }
}

/*# sourceMappingURL=index.css.map */
