/* Error: expected selector.
 *   ,
 * 1 | <<<<<<< HEAD
 *   | ^
 *   '
 *   src\sass\component\_btn.scss 1:1  @import
 *   src\sass\intro.scss 5:9           root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: expected selector.\a   \2577 \a 1 \2502  <<<<<<< HEAD\d\a   \2502  ^\a   \2575 \a   src\\sass\\component\\_btn.scss 1:1  @import\a   src\\sass\\intro.scss 5:9           root stylesheet";
}
<<<<<<< HEAD

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: "Roboto", sans-serif;
  /* 預設字體 */
  font-size: 6.26%;
  line-height: 1.6;
  box-sizing: border-box;
}

/* 以下為h1-h6 */
/*字體寬度自己要加上喔*/
h1 {
  font-size: 64rem;
  line-height: 1.6;
}

h2 {
  font-size: 36rem;
  line-height: 1.6;
}

h3 {
  font-size: 32rem;
  line-height: 1.6;
}

h4 {
  font-size: 28rem;
  line-height: 1.6;
}

h5 {
  font-size: 24rem;
  line-height: 1.6;
}

h6 {
  font-size: 20rem;
  line-height: 1.6;
}

p {
  font-size: 18rem;
  line-height: 1.6;
}

/* 以下為title */
.title1 {
  font-size: 120rem;
  line-height: 1.6;
}

.title2 {
  font-size: 48rem;
  line-height: 1.6;
}

.title3 {
  font-size: 40rem;
  line-height: 1.6;
}

.title4 {
  font-size: 22rem;
  line-height: 1.6;
}

.title5 {
  font-size: 16rem;
  line-height: 1.6;
}

.title6 {
  font-size: 14rem;
  line-height: 1.6;
}

.btn_cta h5 {
  text-align: center;
  line-height: 70px;
  font-weight: 600;
}
.btn_cta h5 .btn_radius {
  width: 380px;
  height: 70px;
  color: #EEEEEE;
  border: 2px solid #EEEEEE;
  display: block;
  text-decoration: none;
  border-radius: 50px;
}
.btn_cta h5 .btn_radius:hover {
  border-color: #00072E;
  background: linear-gradient(90deg, #660059 0%, #1A005C 100%);
}

.btn_general h5 {
  text-align: center;
  line-height: 70px;
  font-weight: 600;
}
.btn_general h5 .btn_square {
  width: 380px;
  height: 70px;
  color: #EEEEEE;
  border: 2px solid #EEEEEE;
  display: block;
  text-decoration: none;
}
.btn_general h5 .btn_square:hover {
  border-color: #00072E;
  background: linear-gradient(90deg, #660059 0%, #1A005C 100%);
}

.btn_status {
  width: 380px;
  height: 70px;
}
.btn_status h5 {
  text-align: center;
  line-height: 70px;
  font-weight: 600;
}
.btn_status h5 .btn_square {
  color: #EEEEEE;
  border: 2px solid #EEEEEE;
  display: block;
  text-decoration: none;
}
.btn_status h5 .btn_square:hover {
  color: #00072E;
  border: 0;
  background: #EEEEEE;
}

.btn_main {
  width: 200px;
  height: 200px;
}
.btn_main .btn_circle_text {
  text-align: center;
  line-height: 200px;
  font-weight: 600;
  font-size: 24rem;
}
.btn_main .btn_circle_text .btn_circle {
  width: 100%;
  height: 100%;
  display: block;
  color: #EEEEEE;
  text-decoration: none;
  border-radius: 50%;
}
.btn_main .btn_circle_text .btn_circle:hover {
  background: linear-gradient(90deg, #660059 0%, #1A005C 100%);
}

.btn_main_w {
  width: 200px;
  height: 200px;
}
.btn_main_w .btn_circle_text {
  text-align: center;
  line-height: 200px;
  font-weight: 600;
  width: 200px;
  height: 200px;
  font-size: 24rem;
}
.btn_main_w .btn_circle_text .btn_circle {
  width: 100%;
  height: 100%;
  display: block;
  color: #00072E;
  background: #EEEEEE;
  text-decoration: none;
  border-radius: 50%;
}
.btn_main_w .btn_circle_text .btn_circle:hover {
  box-shadow: 0px 0px 5px 20px rgba(255, 255, 255, 0.1);
  color: #EEEEEE;
  background: linear-gradient(90deg, #660059 0%, #1A005C 100%);
}

body {
  position: relative;
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: auto;
}

.wrapper {
  width: 1080px;
  height: 100vh;
  margin: 0 auto;
  position: relative;
}

.intro {
  position: absolute;
  width: 1080px;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: space-between;
  align-items: center;
}
.intro .title {
  color: #eeeeee;
  align-items: center;
}
.intro .title img {
  width: 350px;
  margin: 40px 0;
}
.intro .title h6 {
  padding-top: 16px;
}
.intro .enter {
  display: flex;
}
.intro .enter .btn_main_w:nth-child(2) {
  margin-left: 56px;
}

/*# sourceMappingURL=intro.css.map */
=======
>>>>>>> dev
