@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: "Roboto", sans-serif;
  /* 預設字體 */
  font-size: 6.26%;
  line-height: 1.6;
  box-sizing: border-box;
}

/* 以下為h1-h6 */
/*字體寬度自己要加上喔*/
h1 {
  font-size: 64rem;
  line-height: 1.6;
}

h2 {
  font-size: 36rem;
  line-height: 1.6;
}

h3 {
  font-size: 32rem;
  line-height: 1.6;
}

h4 {
  font-size: 28rem;
  line-height: 1.6;
}

h5 {
  font-size: 24rem;
  line-height: 1.6;
}

h6 {
  font-size: 20rem;
  line-height: 1.6;
}

p {
  font-size: 18rem;
  line-height: 1.6;
}

/* 以下為title */
.title1 {
  font-size: 120rem;
  line-height: 1.6;
}

.title2 {
  font-size: 48rem;
  line-height: 1.6;
}

.title3 {
  font-size: 40rem;
  line-height: 1.6;
}

.title4 {
  font-size: 22rem;
  line-height: 1.6;
}

.title5 {
  font-size: 16rem;
  line-height: 1.6;
}

.title6 {
  font-size: 14rem;
  line-height: 1.6;
}

.btn_cta {
  width: 250px;
  height: 46px;
  border: 1px solid #EEEEEE;
  border-radius: 50px;
  cursor: pointer;
}
.btn_cta:hover {
  border-color: #00072E;
  background: linear-gradient(90deg, #660059 0%, #1A005C 100%);
}
.btn_cta .aLink {
  display: block;
  margin: 0 auto;
  text-decoration: none;
  font-weight: 600;
  line-height: 46px;
  color: #EEEEEE;
  font-size: 16px;
  text-align: center;
  position: relative;
}
.btn_cta .aLink img {
  width: 10px;
  position: absolute;
  top: 36%;
  right: 10%;
}

.btn_cta_submit {
  width: 250px;
  height: 46px;
  border: 1px solid #EEEEEE;
  border-radius: 50px;
  background: #00072E;
  cursor: pointer;
}
.btn_cta_submit:hover {
  border-color: #00072E;
  background: linear-gradient(90deg, #660059 0%, #1A005C 100%);
}
.btn_cta_submit .aLink {
  display: block;
  margin: 0 auto;
  text-decoration: none;
  font-weight: 600;
  line-height: 46px;
  color: #EEEEEE;
  font-size: 16px;
  text-align: center;
  position: relative;
}
.btn_cta_submit .aLink img {
  width: 10px;
  position: absolute;
  top: 36%;
  right: 10%;
}

.btn_general {
  width: 250px;
  height: 46px;
  border: 1px solid #EEEEEE;
  cursor: pointer;
}
.btn_general:hover {
  border-color: #00072E;
  background: linear-gradient(90deg, #660059 0%, #1A005C 100%);
}
.btn_general .btn_square {
  display: block;
  margin: 0 auto;
  text-decoration: none;
  font-weight: 600;
  line-height: 46px;
  color: #EEEEEE;
  font-size: 16px;
  text-align: center;
}

.btn_general_sumbmit {
  width: 250px;
  height: 46px;
  border: 1px solid #EEEEEE;
  background: #00072E;
  cursor: pointer;
}
.btn_general_sumbmit:hover {
  border-color: #00072E;
  background: linear-gradient(90deg, #660059 0%, #1A005C 100%);
}
.btn_general_sumbmit .btn_square {
  display: block;
  margin: 0 auto;
  text-decoration: none;
  font-weight: 600;
  line-height: 46px;
  color: #EEEEEE;
  font-size: 16px;
  text-align: center;
}

.btn_status {
  width: 250px;
  height: 46px;
  border: 1px solid #EEEEEE;
  cursor: pointer;
}
.btn_status .btn_square {
  display: block;
  margin: 0 auto;
  text-decoration: none;
  font-weight: 600;
  line-height: 46px;
  color: #EEEEEE;
  font-size: 16px;
  text-align: center;
}
.btn_status .btn_square:hover {
  background: #EEEEEE;
  color: #00072E;
}

.btn_status_submit {
  width: 250px;
  height: 46px;
  border: 1px solid #EEEEEE;
  background: #00072E;
  padding: 0;
  cursor: pointer;
}
.btn_status_submit .btn_square {
  width: 100%;
  height: 100%;
  font-weight: 600;
  line-height: 46px;
  color: #EEEEEE;
  font-size: 16px;
  text-align: center;
}
.btn_status_submit .btn_square:hover {
  background: #EEEEEE;
  color: #00072E;
}

.btn_main {
  width: 200px;
  height: 200px;
}
.btn_main .btn_circle_text {
  text-align: center;
  line-height: 200px;
  font-weight: 600;
  font-size: 24rem;
}
.btn_main .btn_circle_text .btn_circle {
  width: 100%;
  height: 100%;
  display: block;
  color: #EEEEEE;
  text-decoration: none;
  border-radius: 50%;
}
.btn_main .btn_circle_text .btn_circle:hover {
  background: linear-gradient(90deg, #660059 0%, #1A005C 100%);
}

.btn_main_w {
  width: 200px;
  height: 200px;
}
.btn_main_w .btn_circle_text {
  text-align: center;
  line-height: 200px;
  font-weight: 600;
  width: 200px;
  height: 200px;
  font-size: 24rem;
}
.btn_main_w .btn_circle_text .btn_circle {
  width: 100%;
  height: 100%;
  display: block;
  color: #00072E;
  background: #EEEEEE;
  text-decoration: none;
  border-radius: 50%;
}
.btn_main_w .btn_circle_text .btn_circle:hover {
  box-shadow: 0px 0px 5px 20px rgba(255, 255, 255, 0.1);
  color: #EEEEEE;
  background: linear-gradient(90deg, #660059 0%, #1A005C 100%);
}

.member-login02-wrapper {
  width: 1080px;
  margin: 0 auto;
}
.member-login02-wrapper .member-info {
  width: 100%;
}
.member-login02-wrapper .member-info .member-info-title {
  color: #EEEEEE;
  text-align: center;
  position: relative;
}
.member-login02-wrapper .member-info .member-info-title::before {
  content: "";
  display: block;
  width: 150px;
  border-bottom: 1px solid #EEEEEE;
  position: absolute;
  top: 100%;
  margin-top: 10px;
  left: 50%;
  transform: translate(-50%, 0);
}
.member-login02-wrapper .member-info .vip-card {
  display: block;
  width: 563px;
  border-radius: 26px;
  margin: 0 auto;
  margin-top: 60px;
}
.member-login02-wrapper .member-info .member-type {
  color: #EEEEEE;
  text-align: center;
  margin-top: 48px;
  margin-bottom: 20px;
}
.member-login02-wrapper .member-info p {
  color: #EEEEEE;
  text-align: center;
  margin-bottom: 48px;
}
.member-login02-wrapper .member-info .btn {
  margin: 0 auto;
}
.member-login02-wrapper .decorate-line {
  width: 1084px;
  height: 2px;
  border-top: 1px solid #987A4D;
  margin-top: 120px;
  margin-bottom: 120px;
}
.member-login02-wrapper .member-mile .btn {
  margin: 0 auto;
}
.member-login02-wrapper .member-mile .mile-wrapper {
  display: flex;
  justify-content: space-between;
  width: 950px;
  margin: 0 auto;
  margin-bottom: 48px;
}
.member-login02-wrapper .member-mile .mile-wrapper .mile-circle h3 {
  color: #EEEEEE;
  text-align: center;
  margin-bottom: 24px;
}
.member-login02-wrapper .member-mile .mile-wrapper .mile-circle .circle-outer {
  width: 352px;
  height: 352px;
  background-color: rgba(238, 238, 238, 0.6);
  border-radius: 50%;
  padding-top: 20px;
}
.member-login02-wrapper .member-mile .mile-wrapper .mile-circle .circle-outer .circle-inner {
  width: 312px;
  height: 312px;
  background: #00072E;
  margin-left: 20px;
  border-radius: 50%;
  line-height: 312px;
}
.member-login02-wrapper .member-mile .mile-wrapper .mile-circle .circle-outer .circle-inner .bignumber {
  font-size: 80rem;
  color: #EEEEEE;
  margin-left: 50px;
}
.member-login02-wrapper .member-mile .mile-wrapper .mile-circle .circle-outer .circle-inner span {
  font-size: 30rem;
  color: #EEEEEE;
}
.member-login02-wrapper .member-mile .mile-wrapper .mile-square {
  align-items: center;
  width: 520px;
  height: 240px;
  border-radius: 5px;
  margin-top: 100px;
  padding-top: 40px;
  padding-bottom: 40px;
  background: linear-gradient(90deg, #660059 0%, #1A005C 100%);
}
.member-login02-wrapper .member-mile .mile-wrapper .mile-square h3 {
  color: #EEEEEE;
  text-align: center;
}
.member-login02-wrapper .member-mile .mile-wrapper .mile-square .number-area {
  display: flex;
  border-radius: 5px;
  margin-top: 65px;
}
.member-login02-wrapper .member-mile .mile-wrapper .mile-square .number-area h6 {
  color: black;
  background: #EEEEEE;
  border-radius: 5px;
  margin: 3px;
  width: 31px;
  height: 40px;
  font-size: 20px;
  text-align: center;
  line-height: 40px;
}
.member-login02-wrapper .member-mile .mile-wrapper .mile-square .number-area span {
  color: white;
  margin: 5px;
  font-size: 20px;
  line-height: 40px;
}
.member-login02-wrapper .memeber-shop .btn {
  margin: 0 auto;
}
.member-login02-wrapper .memeber-shop .memeber-shop-title {
  color: #EEEEEE;
  text-align: center;
  position: relative;
}
.member-login02-wrapper .memeber-shop .memeber-shop-title::before {
  content: "";
  display: block;
  width: 150px;
  border-bottom: 1px solid #EEEEEE;
  position: absolute;
  top: 100%;
  margin-top: 10px;
  left: 50%;
  transform: translate(-50%, 0);
}
.member-login02-wrapper .memeber-shop h5 {
  color: #EEEEEE;
  text-align: center;
  margin-top: 48px;
}
.member-login02-wrapper .memeber-shop .star {
  width: 350px;
  display: block;
  margin: 80px auto 80px auto;
}
.member-login02-wrapper .member-message .member-message-title {
  color: #EEEEEE;
  text-align: center;
  position: relative;
}
.member-login02-wrapper .member-message .member-message-title::before {
  content: "";
  display: block;
  width: 150px;
  border-bottom: 1px solid #EEEEEE;
  position: absolute;
  top: 100%;
  margin-top: 10px;
  left: 50%;
  transform: translate(-50%, 0);
}
.member-login02-wrapper .member-message .message-wrapper {
  margin-top: 92px;
  display: flex;
  justify-content: space-between;
}
.member-login02-wrapper .member-message .message-wrapper .btn {
  margin: 0 auto;
}
.member-login02-wrapper .member-message .message-wrapper .message-center {
  width: 493px;
  border: 1px solid #987A4D;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 20px;
  border-radius: 15px;
}
.member-login02-wrapper .member-message .message-wrapper .message-center .messages {
  width: 363px;
  height: 44px;
  background: #EEEEEE;
  border-radius: 15px 15px 15px 0;
  margin: 0 auto;
  margin-bottom: 80px;
  position: relative;
  line-height: 2;
  padding-right: 20px;
}
.member-login02-wrapper .member-message .message-wrapper .message-center .messages h5 {
  text-align: right;
}
.member-login02-wrapper .member-message .message-wrapper .message-center .messages p {
  color: #EEEEEE;
  position: absolute;
  top: 100%;
  right: 0%;
}
.member-login02-wrapper .member-message .message-wrapper .textarea-div {
  width: 493px;
  border: 1px solid #987A4D;
  padding-top: 48px;
  padding-bottom: 48px;
  border-radius: 15px;
}
.member-login02-wrapper .member-message .message-wrapper .textarea-div h5 {
  color: #EEEEEE;
  text-align: center;
  margin-bottom: 20px;
}
.member-login02-wrapper .member-message .message-wrapper .textarea-div form textarea {
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  width: 365px;
  height: 160px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
  font-family: "Roboto";
}

/*# sourceMappingURL=member_login02.css.map */
