@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: "Roboto", sans-serif;
  /* 預設字體 */
  font-size: 6.26%;
  line-height: 1.6;
  box-sizing: border-box;
}

/* 以下為h1-h6 */
/*字體寬度自己要加上喔*/
h1 {
  font-size: 64rem;
  line-height: 1.6;
}

h2 {
  font-size: 36rem;
  line-height: 1.6;
}

h3 {
  font-size: 32rem;
  line-height: 1.6;
}

h4 {
  font-size: 28rem;
  line-height: 1.6;
}

h5 {
  font-size: 24rem;
  line-height: 1.6;
}

h6 {
  font-size: 20rem;
  line-height: 1.6;
}

p {
  font-size: 18rem;
  line-height: 1.6;
}

/* 以下為title */
.title1 {
  font-size: 120rem;
  line-height: 1.6;
}

.title2 {
  font-size: 48rem;
  line-height: 1.6;
}

.title3 {
  font-size: 40rem;
  line-height: 1.6;
}

.title4 {
  font-size: 22rem;
  line-height: 1.6;
}

.title5 {
  font-size: 16rem;
  line-height: 1.6;
}

.title6 {
  font-size: 14rem;
<<<<<<< HEAD
  line-height: 1.6;
}

* {
=======
>>>>>>> my
  line-height: 1.6;
}

<<<<<<< HEAD
.g-container {
  margin: 0 auto;
  width: 450px;
  height: 25px;
  border-radius: 25px;
  background: #eee;
}

.g-progress {
  width: 0%;
  height: inherit;
  border-radius: 25px 0 0 25px;
  background: linear-gradient(90deg, #660059 0%, #1A005C 100%);
  transition: 1s all;
  border: 3px solid #EEEEEE;
}

.mileCity {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.mileCity h6 {
  color: #EEEEEE;
}

.date2022 {
  background: #EEEEEE;
  width: 235px;
  height: 60px;
  border-radius: 10px;
  margin: 0 auto;
}
.date2022 h5 {
  text-align: center;
  font-weight: 700;
  color: #987A4D;
  line-height: 64px;
  margin: 64px 0;
}

.mainMile {
  margin-top: 80px;
}
.mainMile .mileCard {
  width: 500px;
  margin-top: 12px;
  padding: 10px;
  background: #00072E;
}
.mainMile .mileCard .mileCardUp {
  color: #987A4D;
  line-height: 64px 64px;
  font-weight: 700;
  font-size: 24rem;
  text-align: center;
  cursor: pointer;
  line-height: 48px;
}
.mainMile .mileCard .mileCardDown {
  margin: 12px 0;
  display: none;
}
.mainMile .mileCard .mileCardDown .mileCardDown_Flex {
  display: flex;
  justify-content: space-around;
}
.mainMile .mileCard .mileCardDown .mileCardDown_Flex .mileCardLeft {
  display: flex;
}
.mainMile .mileCard .mileCardDown .mileCardDown_Flex .mileCardRight {
  display: flex;
}

.mileBar {
  margin-top: 24px;
}
.mileBar .progress {
  width: 450px;
  height: 20px;
  background: linear-gradient(90deg, #660059 0%, #1A005C 100%);
  border: 3px solid #EEEEEE;
=======
.btn_cta {
  width: 250px;
  height: 46px;
  border: 1px solid #EEEEEE;
>>>>>>> my
  border-radius: 50px;
  cursor: pointer;
}
.btn_cta:hover {
  border-color: #00072E;
  background: linear-gradient(90deg, #660059 0%, #1A005C 100%);
}
.btn_cta .aLink {
  display: block;
  margin: 0 auto;
  text-decoration: none;
  font-weight: 600;
  line-height: 46px;
  color: #EEEEEE;
  font-size: 16px;
  text-align: center;
  position: relative;
}
.btn_cta .aLink img {
  width: 10px;
  position: absolute;
  top: 36%;
  right: 10%;
}

.btn_cta_submit {
  width: 250px;
  height: 46px;
  border: 1px solid #EEEEEE;
  border-radius: 50px;
  background: #00072E;
  cursor: pointer;
}
.btn_cta_submit:hover {
  border-color: #00072E;
  background: linear-gradient(90deg, #660059 0%, #1A005C 100%);
}
.btn_cta_submit .aLink {
  display: block;
  margin: 0 auto;
  text-decoration: none;
  font-weight: 600;
  line-height: 46px;
  color: #EEEEEE;
  font-size: 16px;
  text-align: center;
  position: relative;
}
.btn_cta_submit .aLink img {
  width: 10px;
  position: absolute;
  top: 36%;
  right: 10%;
}

.btn_general {
  width: 250px;
  height: 46px;
  border: 1px solid #EEEEEE;
  cursor: pointer;
}
.btn_general:hover {
  border-color: #00072E;
  background: linear-gradient(90deg, #660059 0%, #1A005C 100%);
}
.btn_general .btn_square {
  display: block;
  margin: 0 auto;
  text-decoration: none;
  font-weight: 600;
  line-height: 46px;
  color: #EEEEEE;
  font-size: 16px;
  text-align: center;
}

.btn_general_sumbmit {
  width: 250px;
  height: 46px;
  border: 1px solid #EEEEEE;
  background: #00072E;
  cursor: pointer;
}
.btn_general_sumbmit:hover {
  border-color: #00072E;
  background: linear-gradient(90deg, #660059 0%, #1A005C 100%);
}
.btn_general_sumbmit .btn_square {
  display: block;
  margin: 0 auto;
  text-decoration: none;
  font-weight: 600;
  line-height: 46px;
  color: #EEEEEE;
  font-size: 16px;
  text-align: center;
}

.btn_status {
  width: 250px;
  height: 46px;
  border: 1px solid #EEEEEE;
  cursor: pointer;
}
.btn_status .btn_square {
  display: block;
  margin: 0 auto;
  text-decoration: none;
  font-weight: 600;
  line-height: 46px;
  color: #EEEEEE;
  font-size: 16px;
  text-align: center;
}
.btn_status .btn_square:hover {
  background: #EEEEEE;
  color: #00072E;
}

.btn_status_submit {
  width: 250px;
  height: 46px;
  border: 1px solid #EEEEEE;
  background: #00072E;
  padding: 0;
  cursor: pointer;
}
.btn_status_submit .btn_square {
  width: 100%;
  height: 100%;
  font-weight: 600;
  line-height: 46px;
  color: #EEEEEE;
  font-size: 16px;
  text-align: center;
}
.btn_status_submit .btn_square:hover {
  background: #EEEEEE;
  color: #00072E;
}

.btn_main {
  width: 200px;
  height: 200px;
}
.btn_main .btn_circle_text {
  text-align: center;
  line-height: 200px;
  font-weight: 600;
  font-size: 24rem;
}
.btn_main .btn_circle_text .btn_circle {
  width: 100%;
  height: 100%;
  display: block;
  color: #EEEEEE;
  text-decoration: none;
  border-radius: 50%;
}
.btn_main .btn_circle_text .btn_circle:hover {
  background: linear-gradient(90deg, #660059 0%, #1A005C 100%);
}

.btn_main_w {
  width: 200px;
  height: 200px;
}
.btn_main_w .btn_circle_text {
  text-align: center;
  line-height: 200px;
  font-weight: 600;
  width: 200px;
  height: 200px;
  font-size: 24rem;
}
.btn_main_w .btn_circle_text .btn_circle {
  width: 100%;
  height: 100%;
  display: block;
  color: #00072E;
  background: #EEEEEE;
  text-decoration: none;
  border-radius: 50%;
}
.btn_main_w .btn_circle_text .btn_circle:hover {
  box-shadow: 0px 0px 5px 20px rgba(255, 255, 255, 0.1);
  color: #EEEEEE;
  background: linear-gradient(90deg, #660059 0%, #1A005C 100%);
}

.memberflight {
  width: 1080px;
  border: 1px solid yellow;
  margin: 0 auto;
}
.memberflight .memberflight-title {
  /*大標題*/
  text-align: center;
  color: #EEEEEE;
  position: relative;
  /*大標題底線*/
}
.memberflight .memberflight-title::before {
  content: "";
  display: block;
  width: 150px;
  border-bottom: 1px solid #EEEEEE;
  position: absolute;
  top: 100%;
  margin-top: 10px;
  left: 50%;
  transform: translate(-50%, 0);
}
.memberflight .flight-info-2022 {
  /*上半部分*/
  border: 1px solid white;
  display: flex;
  justify-content: space-between;
  /*左邊卡片收合區*/
  /*右邊年分標籤*/
}
.memberflight .flight-info-2022 .milecard-div {
  border: 1px solid yellow;
}
.memberflight .flight-info-2022 .milecard-div .milecard-title {
  /*卡片收起來時露出的上半部分*/
  border: 1px solid red;
  width: 533px;
  height: 64px;
}
.memberflight .flight-info-2022 .milecard-div .milecard-title h5 {
  line-height: 64px;
  text-align: center;
  color: #EEEEEE;
}
.memberflight .flight-info-2022 .milecard-div .milecard-content {
  /*卡片的內容(會收起來)*/
  border: 1px solid green;
  width: 533px;
  height: 300px;
}
.memberflight .flight-info-2022 .milecard-div .milecard-content .pic-div {
  /*星球圖跟出發地目的地的區塊*/
  display: flex;
}
.memberflight .flight-info-2022 .milecard-div .milecard-content .pic-div .depart {
  color: #EEEEEE;
}
.memberflight .flight-info-2022 .milecard-div .milecard-content .pic-div .depart-pic {
  width: 100px;
}
.memberflight .flight-info-2022 .milecard-div .milecard-content .pic-div .dest {
  color: #EEEEEE;
}
.memberflight .flight-info-2022 .milecard-div .milecard-content .pic-div .dest-pic {
  width: 100px;
}
.memberflight .flight-info-2022 .milecard-div .milecard-content .progress-bar-outer {
  /*進度條的裝飾*/
  width: 454px;
  height: 30px;
  border-radius: 20px;
  background-color: #EEEEEE;
  padding-top: 7.5px;
}
.memberflight .flight-info-2022 .milecard-div .milecard-content .progress-bar-outer .progress-bar-inner {
  height: 15px;
  width: 200px;
  background: linear-gradient(90deg, #660059 0%, #1A005C 100%);
}
.memberflight .flight-info-2022 .milecard-div .milecard-content .miles {
  /*下方里程的標示*/
  text-align: center;
  color: #EEEEEE;
}
.memberflight .flight-info-2022 .year-div {
  border: 1px solid white;
}

/*# sourceMappingURL=member_login04.css.map */
