<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Stellar X 乘載你的太空夢想 Carry Your Dreams 市場唯一第一家以商務客群為主的火箭預約系統，唯一承包八大行星航空站點的太空運輸品牌。">
    <link rel="shortcut icon" href="./images/shortcut.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Hurricane&family=Roboto+Serif:ital,opsz,wght@0,8..144,200;0,8..144,300;0,8..144,400;0,8..144,500;0,8..144,600;0,8..144,700;0,8..144,800;0,8..144,900;1,8..144,100;1,8..144,200;1,8..144,300;1,8..144,400;1,8..144,500;1,8..144,600;1,8..144,700;1,8..144,800;1,8..144,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/star.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/member_login01.css">
    <script src="./js/vue.js"></script>
    <title>Stellar X | 太空運輸領航者</title>
</head>

<body>
    <section class="star_bg" id="home">
        <div class="stars"></div>
        <div class="stars2"></div>
        <div class="stars3"></div>
        <div class="meteors">
            <div class="meteor"></div>
            <div class="meteor"></div>
            <div class="meteor"></div>
            <div class="meteor"></div>
            <div class="meteor"></div>
            <div class="meteor"></div>
        </div>
    
   
    @@include("./layout/header.html")
    <!--請在兩個include之間打程式碼.到時候這邊會自己匯入header footer-->
    <section class="member-login" id="member-login">
        <h5 class="member-login-title">一起出發吧！<br>又是一次嶄新的旅程</h5>
        <!-- <h2 class="member-login-title-bottom">又是一次嶄新的旅程</h2> -->
        <form action="" enctype='multipart/form-data' id="form">
            
            <div class="input-area-member-login">
                <div class="input_div">
                    <label for="">
                        <h5>帳號</h5>
                    </label>
                    <input type="text" v-model="form_data.account_input" name="account">
                </div>

                <div class="input_div_password">
                    <label for=""><h5>密碼</h5></label>
                        <input :type="passwordInputType" v-model="form_data.password_input" @keyup="hideMessage" name="password"><i :class="eyes" @click="eyesToggle"></i>
                    <p class="title6 password-wrong" :style="messageOpacity">{{errorMessage}}</p>
                </div>
            </div>

            <a href="./member_pwd01.html" class="forget-password"><h6 class="title6">忘記密碼?</h6></a>
            
            <button class="btn_cta_submit btn" @click.prevent="btnClick">
                <a class="aLink" href="./member_login02.html">登入<img src="./images/ctz_dec.png" alt=""></a>
            </button>
        
        </form>

    </section>
    <script src="./js/member_login01.js"></script>

    @@include("./layout/footer.html")
</section>
</body>

</html>